+b.callback
  +e.inner.inner
    +e.box
      +e.content
        +e.P.title Не упустите лучшие предложения! 
        +e.P.sign Оставьте свои контактные данные и мы перезвоним с эксклюзивными выгодами!
      +e.FORM.action
        +e.group
          +e.P.name Номер телефона
          +e.INPUT.field(placeholder="+7")
        +e.BUTTON.submit.btn_secondary Отправить заявку
        +e.req Отправляя свои данные вы соглашаетесь с 
          a(href="#")   политикой обработки персональных данных