+b.callback
  +e.inner
    +e.box
      +e.content
        +e.P.title Будь в курсе последних новостей и эксклюзивных акций!
        +e.P.sign Не упускай возможности узнать первым о наших специальных предложениях, акциях и последних новостях о вашем будущем доме!
      +e.FORM.action
        +e.group
          +e.P.name E-mail
          +e.INPUT.field(placeholder="Ваш e-mail")
        +e.BUTTON.submit.btn_secondary Отправить заявку
        +e.req Отправляя свои данные вы соглашаетесь с 
          a(href="#")   политикой обработки персональных данных