.btn
  display: inline-flex
  font-weight: 500
  +fs(16px)
  border-radius: 8px
  color: var(--primary-invers)
  background: var(--primary)
  border: 1px solid transparent
  padding: 2.3rem 2.5rem
  cursor: pointer
  line-height: .875
  transition: .5s ease
  box-sizing: border-box
  text-align: center
  text-transform: uppercase
  justify-content: center
  align-items: center
  +screen('max', 1700)
    +fs(14px)
  +screen('max', 1500)
    padding: 2rem 2.5rem
  &:hover
    background: var(--hover)
  &_secondary
    background: var(--secondary)
    &:hover
      background: var(--primary)
      color: var(--primary-invers)
  &_transparent
    border-color: var(--primary)
    background: none
    color: var(--primary)
    &:hover
      background: var(--hover)
      border-color: var(--hover)
      color: var(--primary-invers)
      path
        fill: var(--primary-invers)
  &_transparent-white
    border-color: var(--primary-invers)
    background: none
    color: var(--primary-invers)
    &:hover
      background: var(--hover)
      color: var(--primary-invers)
      border-color: var(--hover)
      path
        fill: var(--hover)
  &_transparent-green
    border: 1px solid rgba(14, 48, 42, 0.5)
    background: none
    color: var(--primary)
    &:hover
      background: var(--hover)
      color: var(--primary-invers)
      border-color: var(--hover)
  &_icon
    gap: 1rem
    line-height: 1
    path
      transition: .5s ease

.slider-arrows
  display: inline-flex
  gap: .5rem

.slider-nav
  display: inline-flex
  gap: .5rem

.slider-arrow
  border-radius: 8px
  width: 73px
  height: 73px
  display: flex
  justify-content: center
  align-items: center
  background: var(--primary-invers)
  transition: .5s ese
  cursor: pointer
  +screen('max', 1500)
    width: 55px
    height: 55px
  +screen('max', 700)
    width: 35px
    height: 35px
  path
    transition: .5s ese
  svg
    +screen('max', 1500)
      transform: scale(.8)
    +screen('max', 700)
      transform: scale(.6)
  &:hover
    background: var(--primary)
    path
      stroke: var(--primary-invers)

.slider-btn
  display: flex
  gap: .5rem
  &__border
    border-radius: 8px
    width: 73px
    height: 73px
    display: flex
    justify-content: center
    align-items: center
    border: 1px solid var(--primary)
    transition: .5s ese
    opacity: .3
    cursor: pointer
    box-sizing: border-box
    +screen('max', 1500)
      width: 55px
      height: 55px
    +screen('max', 700)
      width: 35px
      height: 35px
    path
      transition: .5s ese
    &:hover
      opacity: 1
  svg
    +screen('max', 1500)
      transform: scale(.8)
    +screen('max', 700)
      transform: scale(.6)
      