+b.team
  +e.inner.inner
    +e.info
      +e.P.caption Команда проекта
      +e.logo
        +e.IMG.pic(src='/icon/logo-2.svg' alt='')
    +e.content
      +e.H2.title Столица Нижний
        svg(xmlns='http://www.w3.org/2000/svg' width='48' height='48' fill='none' viewBox='0 0 48 48')
          path(fill='#838C95' d='M10.3491 3.52066c-1.81051 0-3.54685.71922-4.82706 1.99943C4.24183 6.8003 3.52261 8.53664 3.52261 10.3471V37.653c0 1.8105.71922 3.5469 1.99943 4.8271 1.28021 1.2802 3.01655 1.9994 4.82706 1.9994H37.655c1.8105 0 3.5468-.7192 4.827-1.9994 1.2802-1.2802 1.9995-3.0166 1.9995-4.8271v-8.5331a1.7066 1.7066 0 0 1 1.7066-1.7066c.4526 0 .8867.1798 1.2067.4999.3201.32.4999.7541.4999 1.2067v8.5331c0 2.7158-1.0788 5.3203-2.9991 7.2406-1.9204 1.9203-4.5249 2.9991-7.2406 2.9991H10.3491c-2.71575 0-5.32026-1.0788-7.24058-2.9991C1.1882 42.9733.10938 40.3688.10938 37.653V10.3471c0-2.71571 1.07882-5.32022 2.99914-7.24054C5.02884 1.18625 7.63335.10742 10.3491.10742h8.5331c.4526 0 .8867.1798 1.2067.49986.3201.32005.4999.75414.4999 1.20676s-.1798.88671-.4999 1.20676a1.7064 1.7064 0 0 1-1.2067.49986h-8.5331Zm17.0662-1.70662c0-.45262.1798-.8867.4998-1.20676a1.70683 1.70683 0 0 1 1.2068-.49986h17.0662c.4526 0 .8867.1798 1.2067.49986.3201.32005.4999.75414.4999 1.20676V18.8802a1.7066 1.7066 0 0 1-1.7066 1.7066 1.707 1.707 0 0 1-1.2068-.4998 1.70682 1.70682 0 0 1-.4998-1.2068V5.93382L30.3302 20.0885a1.7087 1.7087 0 0 1-1.2083.5005c-.4532 0-.8878-.18-1.2083-.5005a1.70895 1.70895 0 0 1-.5005-1.2083c0-.4532.1801-.8878.5005-1.2083L42.0683 3.52066H29.1219a1.7068 1.7068 0 0 1-1.2068-.49986 1.70678 1.70678 0 0 1-.4998-1.20676Z')
      +e.P.txt Девелопер проекта: «Столица Нижний». Компания имеет безупречную репутацию и колоссальный опыт строительства объектов жилой, коммерческой и офисной недвижимости.
      +e.vnt
        +e.item
          +e.P.numb 42
          +e.P.sign награды
        +e.item
          +e.P.numb 21
          +e.P.sign год дна рынке
        +e.item
          +e.P.numb 18 000 +
          +e.P.sign квартир
      +e.control
        +e.A.btn.btn_transparent._icon(href="#" download)
          svg(xmlns='http://www.w3.org/2000/svg' width='37' height='37' fill='none' viewBox='0 0 37 37')
            path(fill='#0E302A' d='M12.4239 32.7969h3.6439v-7.2053h-1.6371a1.35016 1.35016 0 0 1-.8316-.2835 1.34967 1.34967 0 0 1-.4809-.7353 1.34853 1.34853 0 0 1 .5142-1.4293v-2.6981l1.516-.2338v2.0872l1.5356-.8413v-1.4859l1.7083-.2639v.8138l1.2085-.6621V1.36328l-7.1769 3.06795V32.7969Zm5.9685-14.9391-1.7083.3216v-3.1105l1.7083-.4215v3.2104Zm0-5.0602-1.7083.4792V10.164l1.7083-.57929v3.21289Zm0-8.07183v3.01169l-1.7083.63682-.0005-2.91537 1.7088-.73314Zm-4.76 2.0406 1.517-.65025-.0005 2.83107-1.5165.56243V6.76637Zm0 4.43253 1.5166-.5137v3.0253l-1.5166.4248v-2.9364Zm0 4.621 1.5166-.3738v3.0253l-1.5166.2849V15.8199Zm14.411-11.20832V19.4633l-2.8123-1.5408c-.6645-.3641-1.4307-.3641-2.0952 0l-2.6913 1.4746V1.36328l7.5988 3.2483ZM4.51592 13.0337v19.7632h7.06418v-22.783l-7.06418 3.0198Zm3.01774 14.9471H6.30045v-2.3661l1.2335-.1205-.00029 2.4866Zm.00071-3.9014-1.23392.169v-2.3752l1.23392-.2535v2.4597Zm0-3.8715-1.23392.3035v-2.3752l1.23392-.3879v2.4596Zm.00042-3.8729-1.23427.4364v-2.2183l1.23469-.5201-.00042 2.302Zm2.68281 11.6458H8.79655v-2.6105l1.42105-.139v2.7495Zm0-4.2718-1.42105.1958v-2.5437l1.42105-.2932v2.6411Zm0-4.1635-1.42105.35v-2.5452l1.42105-.4491v2.6443Zm0-4.1651-1.42148.5059v-2.3836l1.42148-.6023v2.48Zm23.9644 8.4083-9.3562-5.1262c-.4119-.2257-.8723-.2257-1.2844 0l-9.3562 5.1262c-.2074.1137-.3082.3458-.2494.5749.0586.2292.2585.3843.495.3843h2.4809v8.049h1.8968V27.776h-.5269a.4218.4218 0 0 1-.4219-.4218.4218.4218 0 0 1 .4219-.4219h4.6824a.4218.4218 0 0 1 .4219.4219.42183.42183 0 0 1-.4219.4218h-.5269v5.0209h9.0186v-8.049h2.4807c.2366 0 .4365-.1551.4951-.3843.0586-.2291-.042-.4612-.2495-.5749Zm-11.3192-1.773c0-.7294.5914-1.3207 1.3208-1.3207.7294 0 1.3207.5913 1.3207 1.3207 0 .7295-.5913 1.3208-1.3207 1.3208-.7294 0-1.3208-.5913-1.3208-1.3208Zm3.9922 4.7725h-1.8601V24.748h1.8601v2.0402Zm2.7037 0h-1.86V24.748h1.86v2.0402ZM2.21094 35.1084v-.94c0-.2902.23751-.5277.52776-.5277h30.5475c.2903 0 .5278.2375.5278.5277v.94c0 .2902-.2375.5277-.5278.5277H2.7387c-.29025 0-.52776-.2375-.52776-.5277Z')
          span скачать буклет девелопера