.team
  margin: 14rem 0 10rem
  &__inner
    display: flex
    justify-content: space-between
    gap: min(16rem, 9vw)
  &__caption
    font-weight: 500
    text-transform: uppercase
    +fs(30px)
    margin-bottom: 5rem
  &__info
    flex-shrink: 0
  &__logo
    background: rgba(#EBEBEB, .6)
    padding: 6rem 3rem
    box-sizing: border-box
    border-radius: 100%
    display: inline-block
  &__title
    +fs(88px)
    line-height: 1.2
    letter-spacing: -0.02em
    margin-bottom: 2rem
    font-weight: 400
  &__txt
    line-height: 1.2
    +fs(32px)
    opacity: 0.8
    max-width: 1267px
  &__vnt
    display: flex
    flex-wrap: wrap
    gap: 6rem
    margin: 5rem 0
  &__numb
    +fs(38px)
    line-height: 1
    font-weight: 500
    margin-bottom: .2rem
  &__sign
    +fs(18px)
    color: #4d545a