+b.arc
  +e.inner
    +e.H2.title.big-title Архитектура
    +e.wrapper
      +e.slider
        +e.slide
          +e.IMG.pic(src='/img/slide-1.png' alt='')
          +e.content
            +e.P.title Закрытый двор без машин
            +e.P.txt Закрытый двор без машин, система контроля доступа, отдельные зоны для тихого и активного отдыха делают пространство жилого комплекса комфортным и безопасным для всех жителей
        +e.slide
          +e.IMG.pic(src='/img/slide-1.png' alt='')
          +e.content
            +e.P.title Закрытый двор без машин
            +e.P.txt Закрытый двор без машин, система контроля доступа, отдельные зоны для тихого и активного отдыха делают пространство жилого комплекса комфортным и безопасным для всех жителей
        +e.slide
          +e.IMG.pic(src='/img/slide-1.png' alt='')
          +e.content
            +e.P.title Закрытый двор без машин
            +e.P.txt Закрытый двор без машин, система контроля доступа, отдельные зоны для тихого и активного отдыха делают пространство жилого комплекса комфортным и безопасным для всех жителей
      .slider-arrows