.pay
  background: var(--primary)
  padding-block: 9rem
  margin: 1rem
  border-radius: 8px
  +screen('max', 1500)
    padding-block: 6rem
  +screen('max', 1200)
    margin: 0.6rem
    padding-block: 4rem
  &__inner
    +screen('min', 1920)
      max-width: 1920px
      margin: 0 auto
  &__title
    font-size: 10.639vw
    position: relative
    margin-bottom: -9rem
    color: var(--primary-invers)
    +screen('min', 1921)
      font-size: 205px
    +screen('max', 1500)
      font-size: 10.51vw
    +screen('max', 1023)
      margin-bottom: -7rem
    +screen('max', 700)
      font-size: 10.45vw
      margin-bottom: -5rem
  &__list
    padding-inline: 4rem
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-auto-rows: 307px
    gap: 2rem
    counter-reset: inc 0
    box-sizing: border-box
    +screen('max', 1500)
      gap: 1.6rem
      grid-auto-rows: 230px
      padding-block: 4rem
    +screen('max', 1200)
      grid-auto-rows: 160px
      padding-inline: 1.8rem
      gap: 1rem
      padding-inline: 3rem
    +screen('max', 1023)
      grid-template-columns: repeat(4, 330px)
      overflow: auto
      grid-auto-rows: 230px
    +screen('max', 700)
      grid-template-columns: repeat(8, 285px)
      grid-auto-rows: 200px
      padding-inline: 1.5rem
  &__item
    border: 1.33px solid var(--primary)
    border-radius: 8px
    background: var(--primary-invers)
    padding: 4rem 2.7rem 2.7rem
    box-sizing: border-box
    transition: .5s ease
    position: relative
    display: flex
    flex-flow: column
    justify-content: space-between
    +screen('max', 1500)
      padding: 3rem 2rem
    +screen('max', 1200)
      padding: 2rem
    &:before
      counter-increment: inc
      content: '(0' counter(inc) ')'
      position: absolute
      top: 2.5rem
      right: 2.5rem
      +screen('max', 1500)
        +fs(12px)
      +screen('max', 1200)
        top: 1rem
        right: 1rem
    &:after
      content: ''
      width: 73px
      height: 73px
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23' height='19' fill='none'%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1.54492 9.16334H21.454m0 0-7.3924-7.96363m7.3924 7.96363L14.0616 17.127'/%3E%3C/svg%3E")
      background-color: var(--secondary)
      background-position: center
      background-repeat: no-repeat
      border-radius: 8px
      position: absolute
      bottom: 2.7rem
      right: 2.7rem
      transition: .5s ease
      opacity: 0
      visibility: hidden
      +screen('max', 1500)
        width: 55px
        height: 55px
        background-size: 17px
        bottom: 2rem
        right: 2rem
      +screen('max', 700)
        position: relative
        opacity: 1
        visibility: visible
        bottom: 0
        right: 0
        width: 35px
        height: 35px
        background-size: 13px
    &:hover
      background: var(--primary)
      border-color: var(--primary-invers)
      color: var(--primary-invers)
      .stroke
        stroke: var(--primary-invers)
      .fill
        fill: var(--primary-invers)
      &:after
        opacity: 1
        visibility: visible
  &__caption
    text-transform: uppercase
    +fs(24px)
    font-weight: 500
    +screen('max', 1500)
      +fs(18px)
    +screen('max', 1200)
      +fs(16px)
    +screen('max', 1023)
      +fs(18px)
  &__icon
    +screen('max', 1500)
      width: 85px
      height: 85px
    +screen('max', 1200)
      width: 60px
      height: 60px
    +screen('max', 1023)
      width: 85px
      height: 85px
    +screen('max', 700)
      width: 60px
      height: 60px
    path
      transition: .5s ease

.pay-info
  position: relative
  height: 100%
  +screen('max', 1200)
    padding-inline: 2rem
  +screen('max', 1200)
    padding: 0
  &__icon
    margin-bottom: 8rem
    +screen('max', 1500)
      width: 85px
      height: 85px
      margin-bottom: 5rem
    +screen('max', 700)
      width: 75px
      height: 75px
      margin-bottom: 4rem
  &__numb
    +fs(20px)
    margin-bottom: 2rem
    +screen('max', 1500)
      +fs(12px)
      margin-bottom: 0.5rem
  &__caption
    +fs(56px)
    margin-bottom: 3.2rem
    +screen('max', 1500)
      +fs(42px)
      margin-bottom: 2.5rem
    +screen('max', 700)
      +fs(24px)
      margin-bottom: 1.2rem
  &__txt
    +fs(24px)
    line-height: 130%
    color: #4d545a
    margin-bottom: 5rem
    +screen('max', 1500)
      +fs(18px)
    +screen('max', 1200)
      margin-bottom: 4rem
    +screen('max', 700)
      +fs(16px)
      margin-bottom: 3rem
  &__btn
    +screen('max', 700)
      width: 60%
      +fs(12px)
      padding: 2.2rem 1.8rem
  .slider-btn
    position: absolute
    bottom: 0
    left: 0
    z-index: 2
    +screen('max', 1200)
      left: auto
      right: 0
    &__border
      +screen('max', 700)
        width: 55px
        height: 55px
  .swiper-wrapper
    gap: 0