+b.landscaping
  +e.inner
    +e.head.inner
      +e.P.sign Благоустройство
      +e.info
        +e.P.title Все для вашего комфорта
        +e.text
          p Приватная территория двора спроектирована таким образом, чтобы объединить динамику мегаполиса и экологичность. Озеленение будет создано в стилистике городского парка, детали и малые архитектурные формы которого отсылают к эпохе русского 
          p Ренессанса. Закрытый двор без машин и с системами контроля доступа, отдельные зоны для тихого и активного отдыха делают пространство ЖК удобным для всех жителей.
    +e.wrapper
      +e.slider
        +e.slide
          +e.IMG.pic(src='/img/slide-2.png' alt='')
          +e.P.caption Актуализация культурной памяти города
          +e.txt Жилой комплекс Симфония Нижнего станет не только заметным акцентом в панораме города, но и значимым вкладом в культурную память нижегородцев.
        +e.slide
          +e.IMG.pic(src='/img/slide-2.png' alt='')
          +e.P.caption Благоустроенный двор
          +e.txt Территория двора без машин с системой контроля доступа гармонично объединяет динамику мегаполиса, экологичность и приватность.
        +e.slide
          +e.IMG.pic(src='/img/slide-2.png' alt='')
          +e.P.caption Актуализация культурной памяти города
          +e.txt Жилой комплекс Симфония Нижнего станет не только заметным акцентом в панораме города, но и значимым вкладом в культурную память нижегородцев.
      .slider-arrows