+b.location
  +e.head.inner
    +e.P.title Холлы и подъезды
    +e.tabs
      +e.BUTTON.btn.active Первый этаж
      +e.BUTTON.btn Типовой этаж
  +e.body
    +e.box
      +e.slider
        +e.slide
          +e.IMG.pic(src='/img/view-1.png' alt='')
          +e.P.caption Бесшумные и безопасный лифты
          +e.txt С подземного паркинга до необходимого этажа жителей доставят бесшумные и безопасный лифты
        +e.slide
          +e.IMG.pic(src='/img/view-2.png' alt='')
          +e.P.caption Элегантный интерьер
          +e.txt Дизайнеры создали элегантный, сдержанный и одновременно современный интерьер входных групп и общих зон в подъездах.
        +e.slide
          +e.IMG.pic(src='/img/view-3.png' alt='')
          +e.P.caption Индивидуальный дизайн-проект
          +e.txt Места общего пользования будут выполнены по индивидуальному дизайн-проекту и гармонично дополнят собственный интерьер квартиры.
        +e.slide
          +e.IMG.pic(src='/img/view-3.png' alt='')
          +e.P.caption Индивидуальный дизайн-проект
          +e.txt Места общего пользования будут выполнены по индивидуальному дизайн-проекту и гармонично дополнят собственный интерьер квартиры.
      +b.slider-nav
    +e.box
      +e.slider
        +e.slide
          +e.IMG.pic(src='/img/view-1.png' alt='')
          +e.P.caption Бесшумные и безопасный лифты
          +e.txt С подземного паркинга до необходимого этажа жителей доставят бесшумные и безопасный лифты
        +e.slide
          +e.IMG.pic(src='/img/view-2.png' alt='')
          +e.P.caption Элегантный интерьер
          +e.txt Дизайнеры создали элегантный, сдержанный и одновременно современный интерьер входных групп и общих зон в подъездах.
        +e.slide
          +e.IMG.pic(src='/img/view-3.png' alt='')
          +e.P.caption Индивидуальный дизайн-проект
          +e.txt Места общего пользования будут выполнены по индивидуальному дизайн-проекту и гармонично дополнят собственный интерьер квартиры.
        +e.slide
          +e.IMG.pic(src='/img/view-3.png' alt='')
          +e.P.caption Индивидуальный дизайн-проект
          +e.txt Места общего пользования будут выполнены по индивидуальному дизайн-проекту и гармонично дополнят собственный интерьер квартиры.
      +b.slider-nav