+b.sale-list.section
  +e.inner.inner
    +e.H1.title  акции
    +e.list
      +e.A.link.js-open-modal(href="#sale")
        +e.info
          +e.time_orange До 31 августа
          +e.P.caption Скидка до 7% на квартиры
          +e.txt Выгода до 2,2 млн рублей на ограниченный пул квартир
        +e.IMG.pic(src='/img/sale-1.png' alt='')
      +e.A.link.js-open-modal(href="#sale")
        +e.info
          +e.time_green Бессрочно
          +e.P.caption Поздравляем с прибавлением!
          +e.txt Увеличиваем материнский капитал. Добавляем до 1 318 568 рублей!
        +e.IMG.pic(src='/img/sale-2.png' alt='')
      +e.A.link.js-open-modal(href="#sale")
        +e.info
          +e.time_gray До 31 августа
          +e.P.caption Гибкая отсрочка
          +e.txt Выгода до 2,2 млн рублей на ограниченный пул квартир
        +e.IMG.pic(src='/img/sale-3.png' alt='')
      +e.A.link.js-open-modal(href="#sale")
        +e.info
          +e.time_green Бессрочно
          +e.P.caption Поздравляем с прибавлением!
          +e.txt Увеличиваем материнский капитал. Добавляем до 1 318 568 рублей!
        +e.IMG.pic(src='/img/sale-2.png' alt='')
      +e.A.link.js-open-modal(href="#sale")
        +e.info
          +e.time_orange До 31 августа
          +e.P.caption Скидка до 7% на квартиры
          +e.txt Выгода до 2,2 млн рублей на ограниченный пул квартир
        +e.IMG.pic(src='/img/sale-1.png' alt='')
      +e.A.link.js-open-modal(href="#sale")
        +e.info
          +e.time_gray До 31 августа
          +e.P.caption Гибкая отсрочка
          +e.txt Выгода до 2,2 млн рублей на ограниченный пул квартир
        +e.IMG.pic(src='/img/sale-3.png' alt='')

    include ../callback/callbackSix