include ../static/pug/head
+head('Продукт')
body
  main
    +header()
    include ../modules/catalog/catalog
    include ../modules/sale/sale
    include ../modules/footer/footer
  include ../static/pug/scripts
