include ../static/pug/head
+head('Главная')
body
  main.home
    +header()
    include ../modules/banner/banner
    include ../modules/proposal/proposal
    include ../modules/about/about
    include ../modules/vantage/vantage
    include ../modules/arc/arc
    include ../modules/landscaping/landscaping
    include ../modules/callback/callback
    include ../modules/location/location
    include ../modules/room/room
    include ../modules/plane/plane
    include ../modules/placement/placement
    include ../modules/places/places
    include ../modules/sale/sale
    include ../modules/news/news
    include ../modules/callback/callbackThree
    include ../modules/motion/motion
    include ../modules/pay/pay
    include ../modules/team/team
    include ../modules/partners/partners
    include ../modules/project/project
    include ../modules/docs/docs
    include ../modules/contacts/contacts
    include ../modules/footer/footer
  include ../static/pug/scripts
