include ../static/pug/head
+head('Главная')
body
  main
    +header()
    include ../modules/banner/banner
    include ../modules/proposal/proposal
    include ../modules/about/about
    include ../modules/vantage/vantage
    include ../modules/arc/arc
    include ../modules/landscaping/landscaping
    include ../modules/callback/callback
    include ../modules/location/location
    include ../modules/room/room
    include ../modules/plane/plane
  include ../static/pug/scripts
