+b.product
  +e.inner.inner
    +e.A.back(href='#')
      svg(xmlns='http://www.w3.org/2000/svg' width='40' height='40' fill='none' viewBox="0 0 40 40")
        rect(width='38.6667' height='38.6667' x='-.66667' y='.66667' fill='#fff' stroke='#0E302A' stroke-width='1.33333' rx='7.33333' transform='matrix(-1 0 0 1 38.6667 0)')
        path(stroke='#0E302A' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.6' d='M25.4609 20.3636H14.5518m0 0L18.6025 16m-4.0507 4.3636 4.0507 4.3637')
      span Назад
    +e.wrap
      +e.outer-picture
        +e.picture
          +e.nav
            +e.tab.active Планировка
            +e.tab На этаже
            +e.tab На фасаде
            +e.tab Расстановка мебели
          +e.pics
            +e.A.full(href='#')
              +e.IMG.pic(src='/img/prod-2.png' alt='')
            +e.A.full(href='#')
              +e.IMG.pic(src='/img/prod-2.png' alt='')
            +e.A.full(href='#')
              +e.IMG.pic(src='/img/prod-2.png' alt='')
            +e.A.full(href='#')
              +e.IMG.pic(src='/img/prod-2.png' alt='')
        +e.P.sign * Все квартиры в ЖК «Симфония Нижнего» свободной планировки и сдаются без отделки. Представленное разделение на комнаты и расстановка перегородок - носит условный характер и является одним из возможных способов зонирования пространства.
      +e.content
        +e.H1.title 3-комнатная 68.9 м²
        +e.P.price 7 961 898 ₽
        +b.banner-credit
          +e.P.price В ипотеку от 
            span 8 599 ₽/мес
          +e.P.txt Квартиру можно купить в ипотеку вместе с дополнительными опциями. Оплата будет включена в ежемесячный платеж
          +e.A.btn(href="#") Оставить заявку на просчет
        +e.info
          +e.item
            p дом
            span № 3-2
          +e.item
            p Этаж
            span 3
          +e.item
            p квартира
            span № 68
          +e.item
            p Общая Площадь, м²
            span 65,4
          +e.item
            p комнатность
            span 3
          +e.item
            p Жилая площадь, м²
            span 35
          +e.item
            p комнатность
            span 3
          +e.item
            p Жилая площадь, м²
            span 35
        +e.A.more(href="#") Все характеристики 
        +b.product-tag
          +e.P.title Особенности
          +e.list
            +e.A.link(href='#') Мастер-спальня
            +e.A.link(href='#') Лоджия на две комнаты
            +e.A.link(href='#') Двухуровневая
        +e.control
          +e.A.btn.btn_transparent.js-open-modal(href="#callback") Отправить заявку
          +e.A.btn.btn_icon(href="#callback")
            svg(xmlns='http://www.w3.org/2000/svg' width='23' height='31' fill='none' viewBox="0 0 23 31")
              path(fill='#fff' fill-rule='evenodd' d='M19.0156 11.7422h.9395c1.5532 0 2.8183 1.2637 2.8183 2.8183v13.1524c0 1.5546-1.2651 2.8183-2.8183 2.8183H3.04492c-1.55321 0-2.81836-1.2637-2.81836-2.8183V14.5605c0-1.5546 1.26515-2.8183 2.81836-2.8183h.93946V7.98438C3.98438 3.83939 7.35502.46875 11.5.46875c3.7201 0 6.8165 2.71509 7.4122 6.26827.1144.6823-.4574 1.24736-1.1492 1.24736s-1.2366-.56958-1.4078-1.23988c-.553-2.16532-2.5197-3.77046-4.8552-3.77046-2.76328 0-5.01034 2.24699-5.01034 5.01034v3.75782H19.0156Z' clip-rule='evenodd')
            span забронировать
          +e.A.ctr(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='none' viewBox="0 0 60 60")
              path(fill='#0E302A' d='M30.954 40.2531c-.34.1204-.9.1204-1.24 0-2.9-.9931-9.38-5.136-9.38-12.1578 0-3.0997 2.49-5.6075 5.56-5.6075 1.82 0 3.43.8827 4.44 2.247 1.01-1.3643 2.63-2.247 4.44-2.247 3.07 0 5.56 2.5078 5.56 5.6075 0 7.0218-6.48 11.1647-9.38 12.1578Z')
              circle(cx='30' cy='30' r='29.5' stroke='#0E302A')