+b.about
  +e.inner.inner
    +e.video
      +e.IMG.pic(src='/img/video-1.png' alt='')
      +e.BUTTON.play
        svg(xmlns='http://www.w3.org/2000/svg' width='97' height='97' fill='none')
          g(filter='url(#play)')
            circle(cx='48.5' cy='48.5' r='48.5' fill='#fff')
            circle(cx='48.5' cy='48.5' r='47.8333' stroke='#fff' stroke-opacity='.4' stroke-width='1.33333')
          path(fill='#CE8369' d='M61 47.1906c1.7778 1.0264 1.7778 3.5924 0 4.6188L45.75 60.614c-1.7778 1.0264-4-.2566-4-2.3094V40.6954c0-2.0528 2.2222-3.3358 4-2.3094L61 47.1906Z')
          defs
            filter#play(width='107.667' height='107.667' x='-5.33333' y='-5.33333' color-interpolation-filters='sRGB' filterUnits='userSpaceOnUse')
              feflood(flood-opacity='0' result='BackgroundImageFix')
              fegaussianblur(in='BackgroundImageFix' stdDeviation='2.66667')
              fecomposite(in2='SourceAlpha' operator='in' result='effect1_backgroundBlur_349_28384')
              feblend(in='SourceGraphic' in2='effect1_backgroundBlur_349_28384' result='shape')
    +e.content
      +e.H2.title Важна каждая нота!
      +e.P.txt Время стремительно бежит вперед, а музыка остается навсегда. Мы сами создаем свое будущее подобно тому, как композитор пишет симфонию. И здесь, важна каждая нота, которая обладает своим неповторимым звучанием. Так и в доме, который вы выбираете для жизни важна каждая деталь.
      +e.vnt
        +e.item
          +e.P.numb 238
          +e.P.sign квартир
        +e.item
          +e.P.numb 7-9
          +e.P.sign этажей
        +e.item
          +e.P.numb 2023 
          +e.P.sign год срок сдачи 2 квартал 2023 
      +e.control
        +e.A.btn.btn_transparent._icon(href="#" download)
          svg(xmlns='http://www.w3.org/2000/svg' width='36' height='37' fill='none')
            path(fill='#0E302A' d='M12.0919 32.7969h3.6438v-7.2053h-1.637a1.35016 1.35016 0 0 1-.8316-.2835 1.34967 1.34967 0 0 1-.4809-.7353 1.34851 1.34851 0 0 1 .0366-.7939c.0917-.255.2581-.4764.4775-.6354v-2.6981l1.5161-.2338v2.0872l1.5356-.8413v-1.4859l1.7083-.2639v.8138l1.2085-.6621V1.36328l-7.1769 3.06795V32.7969Zm5.9684-14.9391-1.7083.3216v-3.1105l1.7083-.4215v3.2104Zm0-5.0602-1.7083.4792V10.164l1.7083-.57929v3.21289Zm0-8.07183v3.01169l-1.7083.63682-.0005-2.91537 1.7088-.73314Zm-4.7599 2.0406 1.517-.65025-.0005 2.83107-1.5166.56243.0001-2.74325Zm0 4.43253 1.5166-.5137v3.0253l-1.5166.4248v-2.9364Zm0 4.621 1.5166-.3738v3.0253l-1.5166.2849V15.8199Zm14.411-11.20832V19.4633l-2.8123-1.5408c-.6645-.3641-1.4307-.3641-2.0953 0l-2.6912 1.4746V1.36328l7.5988 3.2483ZM4.18389 13.0337v19.7632h7.06421v-22.783l-7.06421 3.0198Zm3.01774 14.9471H5.96842v-2.3661l1.23349-.1205-.00028 2.4866Zm.00071-3.9014-1.23392.169v-2.3752l1.23392-.2535v2.4597Zm0-3.8715-1.23392.3035v-2.3752l1.23392-.3879v2.4596Zm.00042-3.8729-1.23427.4364v-2.2183l1.23469-.5201-.00042 2.302ZM9.8856 27.9808H8.46452v-2.6105l1.42108-.139v2.7495Zm0-4.2718-1.42108.1958v-2.5437l1.42108-.2932v2.6411Zm0-4.1635-1.42108.35v-2.5452l1.42108-.4491v2.6443Zm0-4.1651-1.42151.5059v-2.3836l1.42151-.6023v2.48Zm23.9643 8.4083-9.3561-5.1262c-.412-.2257-.8724-.2257-1.2844 0l-9.3562 5.1262c-.2074.1137-.3082.3458-.2495.5749.0587.2292.2586.3843.4951.3843h2.4808v8.049h1.8969V27.776h-.527a.4218.4218 0 0 1-.2983-.1235.42216.42216 0 0 1 0-.5967.4218.4218 0 0 1 .2983-.1235h4.6825a.4218.4218 0 0 1 .2983.1235.42231.42231 0 0 1 .1236.2984c0 .1118-.0445.2191-.1236.2983a.4218.4218 0 0 1-.2983.1235h-.5269v5.0209h9.0185v-8.049h2.4808c.2366 0 .4364-.1551.4951-.3843.0586-.2291-.0421-.4612-.2496-.5749Zm-11.3191-1.773c0-.7294.5913-1.3207 1.3208-1.3207.7294 0 1.3207.5913 1.3207 1.3207 0 .7295-.5913 1.3208-1.3207 1.3208-.7295 0-1.3208-.5913-1.3208-1.3208Zm3.9921 4.7725h-1.86V24.748h1.86v2.0402Zm2.7038 0h-1.86V24.748h1.86v2.0402ZM1.87891 35.1084v-.94c0-.2902.23751-.5277.52776-.5277H32.9542c.2903 0 .5278.2375.5278.5277v.94c0 .2902-.2375.5277-.5278.5277H2.40667c-.29025 0-.52776-.2375-.52776-.5277Z')
          span скачать презентацию
        +e.A.call.btn_secondary.js-open-modal(href="#callback") получить Консультацию