+b.popup(data-popup="#news")
  +e.overlay.js-close-modal
  +e.container
    +e.BUTTON.close.js-close-modal
      svg(xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='none')
        path(fill='#838C95' fill-rule='evenodd' d='M25.1244 1.08154c.1953-.19526.1953-.51185 0-.7071-.1952-.19527-.5118-.19527-.7071 0L12.7501 12.0416 1.0828.3743C.88754.17904.57096.17904.3757.3743c-.19527.19527-.19526.51185 0 .70711L12.043 12.7487.37629 24.4155c-.19526.1952-.19526.5118 0 .7071.19526.1952.51184.1952.70711 0l11.6667-11.6668L24.4173 25.123c.1953.1953.5119.1953.7071 0 .1953-.1952.1953-.5118 0-.7071L13.4572 12.7487 25.1244 1.08154Z' clip-rule='evenodd')
    +e.content
      +b.news-single
        +e.SPAN.date 12.05.2023
        +e.P.title Мы открыли запись в лист ожидания на покупку квартир в новом проекте
        +e.text
          p овый жилой комплекс комфорт-класса, который мы построим в развивающемся Нижегородском районе на юго-востоке Москвы. В 10 минутах пешком станция метро и МЦК «Нижегородская», а на авто можно добраться до Садового кольца за 10 минут. В радиусе 5,5 км расположены 6 парков: Народный парк Карачарово, Кусковский и Терлецкий лесопарки, Перовский, Измайловский и Кузьминский парки.
          p На территории площадью 2,64 га расположатся восемь корпусов переменной этажности с подземным паркингом, кладовыми и коммерческими помещениями на первых этажах под магазины, кафе и другие сервисы.
          img(src="/img/news-single-1.png" alt="")
          p овый жилой комплекс комфорт-класса, который мы построим в развивающемся Нижегородском районе на юго-востоке Москвы. В 10 минутах пешком станция метро и МЦК «Нижегородская», а на авто можно добраться до Садового кольца за 10 минут. В радиусе 5,5 км расположены 6 парков: Народный парк Карачарово, Кусковский и Терлецкий лесопарки, Перовский, Измайловский и Кузьминский парки.
          p На территории площадью 2,64 га расположатся восемь корпусов переменной этажности с подземным паркингом, кладовыми и коммерческими помещениями на первых этажах под магазины, кафе и другие сервисы.

+b.popup(data-popup="#sale")
  +e.overlay.js-close-modal
  +e.container
    +e.BUTTON.close.js-close-modal
      svg(xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='none')
        path(fill='#838C95' fill-rule='evenodd' d='M25.1244 1.08154c.1953-.19526.1953-.51185 0-.7071-.1952-.19527-.5118-.19527-.7071 0L12.7501 12.0416 1.0828.3743C.88754.17904.57096.17904.3757.3743c-.19527.19527-.19526.51185 0 .70711L12.043 12.7487.37629 24.4155c-.19526.1952-.19526.5118 0 .7071.19526.1952.51184.1952.70711 0l11.6667-11.6668L24.4173 25.123c.1953.1953.5119.1953.7071 0 .1953-.1952.1953-.5118 0-.7071L13.4572 12.7487 25.1244 1.08154Z' clip-rule='evenodd')
    +e.content
      +b.sale-single
        +e.SPAN.date До 31 августа
        +e.P.title Скидка до 15% на кладовые помещения
        +e.text
          p Вы можете забронировать понравившуюся квартиру, не выходя из дома. В период действия акции наши менеджеры проводят дистанционную демонстрацию проекта и готовы помочь вам с выбором в онлайн формате либо в офисе продаж проекта.
          ul
            li скидка 10% на покупку кладовой;
            li скидка 15% на покупку кладовой при одновременной покупке с машино-местом, которая применяется менеджером при бронировании.
        +b.sale-slider
          +e.head
            +e.P.title Квартиры участвующие в акции
            +b.slider-btn
              +e.border_prev
                svg(xmlns='http://www.w3.org/2000/svg' width='23' height='19' fill='none')
                  path(stroke='#0E302A' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21.4551 9.16334H1.54599m0 0 7.3924-7.96363m-7.3924 7.96363 7.3924 7.96366')
              +e.border_next
                svg(xmlns='http://www.w3.org/2000/svg' width='23' height='19' fill='none')
                  path(stroke='#0E302A' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1.54492 9.16334H21.454m0 0-7.3924-7.96363m7.3924 7.96363L14.0616 17.127')
          +e.wrapper
            .swiper
              .swiper-wrapper
                .swiper-slide
                  +b.prod-item
                    +e.head
                      +e.time Срок сдачи 1 кв 2024
                      +e.BUTTON.favor
                        svg(xmlns='http://www.w3.org/2000/svg' width='30' height='28' fill='none')
                          path(fill='#D7DBE0' d='M15.93 27.3635c-.51.182-1.35.182-1.86 0C9.72 25.8618 0 19.5972 0 8.97921 0 4.29213 3.735.5 8.34.5c2.73 0 5.145 1.33483 6.66 3.39775C16.515 1.83483 18.945.5 21.66.5 26.265.5 30 4.29213 30 8.97921 30 19.5972 20.28 25.8618 15.93 27.3635Z')
                    +e.middle
                      +e.IMG.pic(src='/img/prod-1.png' alt='')
                    +e.foot
                      +e.title Студия 24.38 м²
                      +e.prices
                        +e.new 2 559 600 ₽
                      +e.A.btn.btn узнать цену
                .swiper-slide
                  +b.prod-item
                    +e.head
                      +e.time Срок сдачи 1 кв 2024
                      +e.BUTTON.favor
                        svg(xmlns='http://www.w3.org/2000/svg' width='30' height='28' fill='none')
                          path(fill='#D7DBE0' d='M15.93 27.3635c-.51.182-1.35.182-1.86 0C9.72 25.8618 0 19.5972 0 8.97921 0 4.29213 3.735.5 8.34.5c2.73 0 5.145 1.33483 6.66 3.39775C16.515 1.83483 18.945.5 21.66.5 26.265.5 30 4.29213 30 8.97921 30 19.5972 20.28 25.8618 15.93 27.3635Z')
                    +e.middle
                      +e.IMG.pic_blur(src='/img/prod-1.png' alt='')
                    +e.foot
                      +e.sale Квартира со скидкой 30%
                      +e.title Студия 24.38 м²
                      +e.prices
                        +e.new 2 559 600 ₽
                        +e.old 18 000 000 ₽
                      +e.A.btn.btn узнать цену
                .swiper-slide
                  +b.prod-item
                    +e.head
                      +e.time Срок сдачи 1 кв 2024
                      +e.BUTTON.favor
                        svg(xmlns='http://www.w3.org/2000/svg' width='30' height='28' fill='none')
                          path(fill='#D7DBE0' d='M15.93 27.3635c-.51.182-1.35.182-1.86 0C9.72 25.8618 0 19.5972 0 8.97921 0 4.29213 3.735.5 8.34.5c2.73 0 5.145 1.33483 6.66 3.39775C16.515 1.83483 18.945.5 21.66.5 26.265.5 30 4.29213 30 8.97921 30 19.5972 20.28 25.8618 15.93 27.3635Z')
                    +e.middle
                      +e.IMG.pic_blur(src='/img/prod-1.png' alt='')
                    +e.foot
                      +e.sale Квартира со скидкой 30%
                      +e.title Студия 24.38 м²
                      +e.prices
                        +e.new 2 559 600 ₽
                        +e.old 18 000 000 ₽
                      +e.A.btn.btn узнать цену
                .swiper-slide
                  +b.prod-item
                    +e.head
                      +e.time Срок сдачи 1 кв 2024
                      +e.BUTTON.favor
                        svg(xmlns='http://www.w3.org/2000/svg' width='30' height='28' fill='none')
                          path(fill='#D7DBE0' d='M15.93 27.3635c-.51.182-1.35.182-1.86 0C9.72 25.8618 0 19.5972 0 8.97921 0 4.29213 3.735.5 8.34.5c2.73 0 5.145 1.33483 6.66 3.39775C16.515 1.83483 18.945.5 21.66.5 26.265.5 30 4.29213 30 8.97921 30 19.5972 20.28 25.8618 15.93 27.3635Z')
                    +e.middle
                      +e.IMG.pic_blur(src='/img/prod-1.png' alt='')
                    +e.foot
                      +e.sale Квартира со скидкой 30%
                      +e.title Студия 24.38 м²
                      +e.prices
                        +e.new 2 559 600 ₽
                        +e.old 18 000 000 ₽
                      +e.A.btn.btn узнать цену

+b.popup(data-popup="#pay")
  +e.overlay.js-close-modal
  +e.container_mod
    +e.BUTTON.close.js-close-modal
      svg(xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='none')
        path(fill='#838C95' fill-rule='evenodd' d='M25.1244 1.08154c.1953-.19526.1953-.51185 0-.7071-.1952-.19527-.5118-.19527-.7071 0L12.7501 12.0416 1.0828.3743C.88754.17904.57096.17904.3757.3743c-.19527.19527-.19526.51185 0 .70711L12.043 12.7487.37629 24.4155c-.19526.1952-.19526.5118 0 .7071.19526.1952.51184.1952.70711 0l11.6667-11.6668L24.4173 25.123c.1953.1953.5119.1953.7071 0 .1953-.1952.1953-.5118 0-.7071L13.4572 12.7487 25.1244 1.08154Z' clip-rule='evenodd')
    +e.content
      +b.pay-info
        +e.wrapper
          .swiper
            .swiper-wrapper
              .swiper-slide
                +e.SVG.icon(xmlns='http://www.w3.org/2000/svg' width='114' height='114' viewBox="0 0 114 114" fill='none')
                  path.stroke(stroke='#0E302A' stroke-width='1.86667' d='M75.556 75.6841c0-5.2199-14.7994-9.4477-33.0556-9.4477m33.0556 9.4477c0 5.2198-14.7994 9.4476-33.0556 9.4476-18.2561 0-33.05552-4.2278-33.05552-9.4476m66.11112 0v23.3214c0 5.3805-14.7994 9.7455-33.0556 9.7455-18.2561 0-33.05552-4.36-33.05552-9.7455V75.6841m66.11112 0c18.0578 0 33.056-4.6624 33.056-9.4477v-47.238m-66.1116 47.238c-18.2561 0-33.05552 4.2278-33.05552 9.4477m33.05552-9.4477c-20.8627 0-37.77774-4.6624-37.77774-9.4476v-23.619m37.77774-9.4476c-20.8627 0-37.77774 4.2278-37.77774 9.4476m0 0c0 5.2198 16.91504 9.4476 37.77774 9.4476 0 4.7852 15.3614 9.4476 33.4192 9.4476 18.0531 0 32.6924-4.6624 32.6924-9.4476m0-23.619c0-5.2198-14.6393-9.44762-32.6924-9.44762-18.0578 0-32.6919 4.22782-32.6919 9.44762m65.3843 0c0 5.2198-14.6393 9.4476-32.6924 9.4476-18.053 0-32.6919-4.2278-32.6919-9.4476m0 0v48.0222')
                +e.numb (01)
                +e.P.caption Оплата наличными
                +e.P.txt 100-процентная оплата — самый простой, быстрый и выгодный способ приобретения квартиры. Для этого нужно лишь выбрать квартиру, подписать договор долевого участия и внести оплату.
                +e.A.btn.btn(href="#") Получить консультацию
              .swiper-slide
                +e.SVG.icon(width='114' height='114' viewBox='0 0 114 114' fill='none' xmlns='http://www.w3.org/2000/svg')
                  g(clip-path='url(#clip0_349_31140)')
                    path.fill(d='M5.86207 43.5978H19.5402V79.0869H9.77011C9.25188 79.0869 8.75486 79.2946 8.38841 79.6643C8.02196 80.0341 7.81609 80.5356 7.81609 81.0585C7.81609 81.5814 8.02196 82.0829 8.38841 82.4526C8.75486 82.8224 9.25188 83.0301 9.77011 83.0301H103.563C104.081 83.0301 104.578 82.8224 104.945 82.4526C105.311 82.0829 105.517 81.5814 105.517 81.0585C105.517 80.5356 105.311 80.0341 104.945 79.6643C104.578 79.2946 104.081 79.0869 103.563 79.0869H93.7931V43.5978H107.471C107.897 43.5988 108.312 43.4592 108.652 43.2003C108.993 42.9414 109.24 42.5774 109.356 42.1638C109.472 41.7501 109.451 41.3095 109.296 40.909C109.141 40.5085 108.86 40.1701 108.497 39.9454L57.6925 8.39953C57.3842 8.2076 57.029 8.10596 56.6667 8.10596C56.3044 8.10596 55.9492 8.2076 55.6408 8.39953L4.83621 39.9454C4.47295 40.1701 4.19246 40.5085 4.03746 40.909C3.88246 41.3095 3.86145 41.7501 3.97763 42.1638C4.09382 42.5774 4.34082 42.9414 4.68102 43.2003C5.02122 43.4592 5.43596 43.5988 5.86207 43.5978ZM23.4483 43.5978H42.9885V79.0869H23.4483V43.5978ZM66.4368 43.5978V79.0869H46.8966V43.5978H66.4368ZM89.8851 79.0869H70.3448V43.5978H89.8851V79.0869ZM56.6667 12.397L100.569 39.6546H12.7647L56.6667 12.397ZM113.333 96.8314C113.333 97.3543 113.127 97.8558 112.761 98.2255C112.395 98.5953 111.898 98.803 111.379 98.803H1.95402C1.43578 98.803 0.93877 98.5953 0.57232 98.2255C0.20587 97.8558 0 97.3543 0 96.8314C0 96.3085 0.20587 95.807 0.57232 95.4372C0.93877 95.0675 1.43578 94.8598 1.95402 94.8598H111.379C111.898 94.8598 112.395 95.0675 112.761 95.4372C113.127 95.807 113.333 96.3085 113.333 96.8314Z' fill='#0E302A')
                  defs
                    clippath#clip0_349_31140
                      rect(width='113.333' height='113.371' fill='white' transform='translate(0 0.103516)')
                +e.numb (02)
                +e.P.caption Ипотека
                +e.P.txt 100-процентная оплата — самый простой, быстрый и выгодный способ приобретения квартиры. Для этого нужно лишь выбрать квартиру, подписать договор долевого участия и внести оплату.
                +e.A.btn.btn(href="#") Получить консультацию
              .swiper-slide
                +e.SVG.icon(xmlns='http://www.w3.org/2000/svg' width='114' height='114' viewBox="0 0 114 114" fill='none')
                  path.stroke(stroke='#0E302A' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.13333' d='M26.5257 24.1113v65.3553M14.5848 37.633v38.3119M2.66602 50.0294v13.519M38.5469 37.633v38.3119m12.4339-25.9155v13.519m35.2301-39.4371v65.3553M74.27 37.633v38.3119M62.3512 50.0294v13.519m35.881-25.9154v38.3119m12.4338-25.9155v13.519')
                +e.numb (03)
                +e.P.caption Рассрочка
                +e.P.txt 100-процентная оплата — самый простой, быстрый и выгодный способ приобретения квартиры. Для этого нужно лишь выбрать квартиру, подписать договор долевого участия и внести оплату.
                +e.A.btn.btn(href="#") Получить консультацию
              .swiper-slide
                +e.SVG.icon(xmlns='http://www.w3.org/2000/svg' width='114' height='114' viewBox="0 0 114 114" fill='none')
                  path.stroke(stroke='#0E302A' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.13333' d='m44.334 56.7702-24 24.3333m0 0 24 24.3335m-24-24.3335h72m-24-72.99998 24 24.33328m0 0-24 24.3334m24-24.3334h-72')
                +e.numb (04)
                +e.P.caption Trade In
                +e.P.txt 100-процентная оплата — самый простой, быстрый и выгодный способ приобретения квартиры. Для этого нужно лишь выбрать квартиру, подписать договор долевого участия и внести оплату.
                +e.A.btn.btn(href="#") Получить консультацию
              .swiper-slide
                +e.SVG.icon(xmlns='http://www.w3.org/2000/svg' width='114' height='115' viewBox="0 0 114 115" fill='none')
                  g
                    mask#mask-1(width='114' height='115' viewBox="0 0 114 114" x='0' y='0' maskUnits='userSpaceOnUse' style='mask-type:luminance')
                      path(fill='#fff' stroke='#fff' stroke-width='2' d='M112.333 113.25V1.87904H1V113.25h111.333Z')
                    g.stroke(stroke='#0E302A' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='10' stroke-width='2' mask='url(#mask-1)')
                      path(d='M60.3262 77.3334c4.6643 4.2984 12.133 12.0144 12.133 17.35 0 5.2274-7.5911 5.0315-7.5911 5.0315M48.47 99.7139s-7.5911.196-7.5911-5.0315c0-5.1174 7.5108-12.9502 12.1722-17.319M10.6012 75.6123l-1.96448-2.9135M19.9452 89.4736l-4.3905-6.5115M29.6071 103.803l-3.4352-5.0949M17.4671 78.5648c-.384-2.4078-2.6465-4.0481-5.0535-3.6639-2.4068.3842-4.04655 2.6474-3.6625 5.0552.38382 2.4076 2.6465 4.0479 5.0533 3.6639 2.407-.3841 4.0468-2.6474 3.6627-5.0552Z')
                      path(d='M63.7334 94.979c.6867 2.0019 1.0794 4.1708 1.0794 6.193 0 1.896-1.4453 2.967-2.9084 3.564-2.2171.905-4.051 2.553-5.2304 4.638l-.0039.007c-1.1814-2.088-3.0193-3.736-5.2401-4.642-1.4612-.596-2.9027-1.666-2.9027-3.567 0-6.1605 3.6455-13.6877 8.1428-13.6877 1.0104 0 1.9782.3802 2.8711 1.0394M44.1608 74.1285c-4.3841 0-7.9381 2.8646-7.9381 6.3982 0 3.5335 3.554 6.3981 7.9381 6.3981')
                      path(d='M44.8442 74.1642a5.1945 5.1945 0 0 0-1.0278 3.1099c0 2.5285 1.7985 4.6367 4.1858 5.1146M25.0938 89.2275l11.7184-5.7947M42.4514 89.5987l-14.258 4.9804M20.8776 95.1365c-1.1008.1756-2.245-.3279-2.8358-1.3512-.7652-1.325-.3117-3.0198 1.0131-3.7853l2.4772-1.4313c1.3244-.7657 3.0188-.3117 3.784 1.0135.7653 1.325.3117 3.0201-1.0131 3.7853l-2.4769 1.4313a2.76592 2.76592 0 0 1-.9485.3377ZM24.2917 93.3754c1.3245-.7657 3.019-.3118 3.7842 1.0134.7652 1.3251.3115 3.0199-1.0131 3.7853l-2.4772 1.4314c-.2929.1696-.6143.284-.9485.3376-1.1006.1759-2.245-.3279-2.8355-1.3511-.7652-1.325-.3117-3.0201 1.0131-3.7853M97.3628 94.5791c3.1082-1.0516 5.3452-3.9932 5.3452-7.4575 0-4.3468-3.5222-7.8706-7.8676-7.8706-4.3451 0-7.8677 3.5238-7.8677 7.8706 0 1.0857.2195 2.12.6169 3.0608M69.1719 74.1285c4.3841 0 7.9379 2.8646 7.9379 6.3981 0 3.5336-3.5538 6.3982-7.9379 6.3982')
                      path(d='M68.4885 74.1631a5.1932 5.1932 0 0 1 1.0285 3.1108c0 2.5088-1.7709 4.604-4.1303 5.1031M87.2797 89.4072 76.457 83.4054M70.8809 89.5983l14.7344 5.7142M90.6083 96.9056c-.0777 1.1122.5248 2.2081 1.5957 2.7063 1.3872.6451 3.0345.0438 3.6798-1.3436l1.2066-2.5947c.6454-1.3875.0438-3.0356-1.3432-3.681-1.3872-.6457-3.0348-.0441-3.68 1.3436l-1.2064 2.5947a2.76524 2.76524 0 0 0-.2525.9747Z')
                      path(d='M92.063 93.3464c.6455-1.3874.0439-3.0357-1.3431-3.6812-1.3873-.6455-3.0348-.0438-3.68 1.3439l-1.2066 2.5944c-.143.3068-.2285.6371-.2524.9747-.0777 1.1125.5248 2.2081 1.5958 2.7066 1.387.6454 3.0347.0438 3.6797-1.3439M61.9914 15.0581H51.3465l-1.2621-2.3066c-1.1137-2.0343.1379-4.55632 2.4311-4.89909a3.33269 3.33269 0 0 1 1.5296.12865 8.43186 8.43186 0 0 0 5.2478 0 3.33257 3.33257 0 0 1 1.5296-.12865c2.2932.34277 3.5447 2.86479 2.4313 4.89909l-1.2624 2.3066ZM26.2246 31.4937 40.4793 45.875M10.8932 33.6064c-1.19092-3.9604-1.3078-8.2787-.1435-12.51.5003-1.8177 2.7782-2.4148 4.1055-1.0759l5.8984 5.9507M11.6173 48.5615c-5.6288-3.0488-9.52595-8.8394-9.95029-15.5683-.11333-1.798 1.7591-3.0462 3.37432-2.2497L40.4574 48.2097M18.7802 61.1015c-6.6203.4444-13.07957-3.0176-16.27702-9.133-.88409-1.6911.39024-3.7058 2.29632-3.6312l35.6771 1.3981M31.4859 68.9019c-5.7446 2.4138-12.5205 1.7657-17.7942-2.1223-1.2927-.9531-1.0718-2.9479.398-3.5951l26.3532-11.6033M39.289 75.4735c-2.633 1.7413-5.7873 2.4864-10.8765 1.5965-1.6024-.3521-2.225-2.3058-1.1222-3.5205l13.1519-14.4874M102.469 33.5303c1.204-4.0515 1.245-8.3598.12-12.4339-.5-1.8177-2.778-2.4149-4.1052-1.0761L72.8984 45.833M110.974 37.0417c.377-1.32.61-2.6767.696-4.0468.114-1.798-1.759-3.0464-3.374-2.2497L72.875 48.2139M101.699 48.5732c2.2-1.1888 4.145-2.798 5.725-4.7363M94.5515 61.1012c6.6215.446 13.0825-3.0165 16.2805-9.1327.884-1.6911-.39-3.7058-2.296-3.6312l-35.663 1.3976M81.8551 68.9035c5.7437 2.4121 12.5177 1.763 17.7902-2.1239 1.2927-.953 1.0717-2.9481-.398-3.5951L72.875 51.5726M74.3016 75.6434c2.7594 1.7313 5.9631 2.3143 10.6223 1.4273 1.6024-.3523 2.2249-2.3057 1.1221-3.5205L72.875 59.0418M46.2871 23.7988l2.1655-.9247c2.9836-1.2743 4.1891-4.841 2.8938-7.8161')
                      path(d='m39.418 23.7988-.8531-3.6577c-.3569-1.5297.8037-2.9926 2.3738-2.9926h3.8283c1.57 0 2.7306 1.4629 2.374 2.9926l-.8533 3.6577M42.8555 16.9272v-2.4868')
                      path(d='M56.6685 42.4082v-6.1958c0-6.856-5.556-12.4139-12.4097-12.4139h-3.1342c-4.1271 0-7.1486 3.8905-6.1282 7.8911h5.156c4.1075 0 6.8959 4.1765 5.322 7.9718l-1.1269 2.7178M67.0489 23.7988l-2.1655-.9247c-2.9836-1.2743-4.1873-4.841-2.8919-7.8161M73.9187 23.7988l.8531-3.6577c.3568-1.5297-.8038-2.9926-2.3738-2.9926h-3.8283c-1.5701 0-2.7307 1.4629-2.3741 2.9926l.8534 3.6577M70.4824 16.9272v-2.4868')
                      path(d='M56.668 36.2127c0-6.8561 5.5559-12.4139 12.4097-12.4139h3.1342c4.1271 0 7.1486 3.8904 6.1281 7.891h-5.156c-4.1074 0-6.8958 4.1765-5.322 7.9718l1.1389 2.7466M94.8398 76.6839v2.5095M69.5126 74.1263c-3.9005-.0089-7.6464 1.5241-10.4223 4.2651l-2.4231 2.3928-2.4234-2.3928c-2.7758-2.741-6.5218-4.274-10.4222-4.2651-1.8388.0042-3.3314-1.4858-3.3314-3.3252V45.7592c0-1.8365 1.4882-3.3252 3.3239-3.3252h25.706c1.8359 0 3.324 1.4887 3.324 3.3252v25.0419c0 1.8394-1.4928 3.3294-3.3315 3.3252Z')
                      path(d='M47.1406 54.7371v-5.6528h19.0579v18.399a12.35086 12.35086 0 0 0-5.1446 1.1015 12.35264 12.35264 0 0 0-4.2198 3.1431l-.1646.1891-.1645-.1891a12.3552 12.3552 0 0 0-4.2198-3.1431 12.35086 12.35086 0 0 0-5.1446-1.1015v-4.9962M56.668 8.39502V5.74586')
                +e.numb (05)
                +e.P.caption Госпрограммы
                +e.P.txt 100-процентная оплата — самый простой, быстрый и выгодный способ приобретения квартиры. Для этого нужно лишь выбрать квартиру, подписать договор долевого участия и внести оплату.
                +e.A.btn.btn(href="#") Получить консультацию
              .swiper-slide
                +e.SVG.icon(xmlns='http://www.w3.org/2000/svg' width='114' height='115' viewBox="0 0 114 115" fill='none')
                  g
                    mask#mask-2(width='114' height='115' viewBox="0 0 114 114" x='0' y='0' maskUnits='userSpaceOnUse' style='mask-type:luminance')
                      path(fill='#fff' d='M0 .87904h113.333V114.25H0V.87904Z')
                    g.stroke(stroke='#0E302A' stroke-width='1.86667' mask='url(#mask-2)')
                      path(d='m28.182 37.5715-5.7979-10.2432c-2.836-5.0103-8.55-7.6537-14.20319-6.5702-2.64296.5064-4.16012 3.2377-3.20719 5.7117C7.18925 32.22 12.9385 45.0037 12.9385 45.0037c2.5278 8.376 2.2728 17.404-1.0393 25.5016-2.17855 5.3265-2.78462 11.1427-1.8268 16.7437M61.6372 36.1475 71.744 15.0749c2.0995-4.3774.3893-9.63259-3.8841-11.93477l-.1479-.07972c-2.0338-1.09562-4.5683-.40942-5.7702 1.56394-2.9307 4.8114-8.4143 13.76415-13.5121 21.81925M71.9911 31.5037l-7.7919 8.0354M76.2656 49.4287l16.4705-19.3251c3.0746-3.6073 2.8614-8.9725-.4894-12.3247l-.4053-.4054c-1.7153-1.7158-4.5028-1.6946-6.1917.0472l-8.0613 8.3135M79.7266 67.9297l23.3224-14.4274c4.111-2.5433 5.512-7.8615 3.188-12.1014-1.192-2.1733-3.956-2.9118-6.072-1.6218L80.467 51.7876M12.4531 94.9098c1.4658 3.1642 3.499 6.1302 6.1081 8.7402 11.9154 11.92 31.234 11.92 43.1495 0l14.4719-14.4765a7.84324 7.84324 0 0 1 2.9654-1.8613l23.402-8.1565c3.757-1.3095 6.226-4.9115 6.092-8.889l-.006-.1776c-.089-2.635-2.483-4.5849-5.081-4.1376l-22.6282 3.898')
                      path(d='M32.8453 31.2692c-4.8222 4.4509-6.7704 11.0876-5.3922 17.278 1.1311 5.0802.3763 10.3996-1.9448 15.0575 0 0-4.652 6.9196-6.5268 10.0692-.8067 1.3552-.1909 3.1087 1.3084 3.6706a7.98004 7.98004 0 0 0 4.8836.2314 7.9834 7.9834 0 0 0 4.1027-2.6602l4.5536-5.582c2.0026-2.4547 5.8987-1.9941 7.2396.8764l.0188.0408c2.562 5.5507 7.1686 17.0532 9.1094 21.9424.5071 1.2774 1.9245 1.9337 3.2267 1.495l.0945-.0318c2.7364-.9216 4.2657-3.8316 3.473-6.609L51.014 66.1016l14.3667 20.9649c.8159 1.1907 2.4482 1.4825 3.6258.6484l.2784-.1973c2.3005-1.6295 2.9628-4.7543 1.5214-7.1776L58.992 60.4773l17.1396 14.9335c1.1114.9685 2.8061.8127 3.7223-.3423 1.7876-2.2533 1.499-5.512-.6572-7.4156L64.4685 54.6502l16.2728 5.754c1.4782.5228 3.0775-.3806 3.3933-1.9169l.0213-.1034a5.40936 5.40936 0 0 0-.3851-3.3519 5.40697 5.40697 0 0 0-2.2966-2.471l-13.8399-7.645-7.6531-10.811c-4.6533-6.5737-12.8772-9.1119-20.1735-6.854')
                +e.numb (06)
                +e.P.caption Материнский капитал
                +e.P.txt 100-процентная оплата — самый простой, быстрый и выгодный способ приобретения квартиры. Для этого нужно лишь выбрать квартиру, подписать договор долевого участия и внести оплату.
                +e.A.btn.btn(href="#") Получить консультацию
              .swiper-slide
                +e.SVG.icon(xmlns='http://www.w3.org/2000/svg' width='82' height='108' fill='none' viewBox="0 0 82 108")
                  path.stroke(stroke='#0E302A' stroke-width='2' d='M53.2285 1.54688H3.66667C2.19391 1.54688 1 2.74078 1 4.21354V103.582c0 1.473 1.19391 2.667 2.66667 2.667H77.6667c1.4727 0 2.6666-1.194 2.6666-2.667V28.6599c0-.7071-.2808-1.3852-.7807-1.8853L55.1144 2.32824a2.66654 2.66654 0 0 0-1.8859-.78136Z')
                  path.stroke(stroke='#0E302A' stroke-width='2' d='M54.334 1.54688V25.5558c0 1.4728 1.1939 2.6667 2.6667 2.6667h24')
                  path.stroke(stroke='#0E302A' stroke-linecap='round' stroke-width='2' d='M17 31.5566h23.3333M17 45.5615h46.6667M17 58.8994h46.6667M17 72.2373h46.6667M17 85.5752h46.6667')
                +e.numb (07)
                +e.P.caption Оплата траншами
                +e.P.txt 100-процентная оплата — самый простой, быстрый и выгодный способ приобретения квартиры. Для этого нужно лишь выбрать квартиру, подписать договор долевого участия и внести оплату.
                +e.A.btn.btn(href="#") Получить консультацию
              .swiper-slide
                +e.SVG.icon(xmlns='http://www.w3.org/2000/svg' width='114' height='115' viewBox="0 0 114 115" fill='none')
                  path.stroke(stroke='#0E302A' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9.44727 100.079H80.2806m18.8889 0h4.7225')
                  path.stroke(stroke='#0E302A' stroke-width='2' d='M9.44727 78.3498V17.8851c0-.7517.29851-1.4726.82983-2.0042a2.83318 2.83318 0 0 1 2.0035-.8301h88.7774c.752 0 1.472.2986 2.004.8301.531.5316.83 1.2525.83 2.0042v60.4647c0 .7517-.299 1.4726-.83 2.0041-.532.5315-1.252.8301-2.004.8301H12.2806c-.7514 0-1.4721-.2986-2.0035-.8301a2.83472 2.83472 0 0 1-.82983-2.0041Z')
                +e.numb (08)
                +e.P.caption Онлайн-бронирование
                +e.P.txt 100-процентная оплата — самый простой, быстрый и выгодный способ приобретения квартиры. Для этого нужно лишь выбрать квартиру, подписать договор долевого участия и внести оплату.
                +e.A.btn.btn(href="#") Получить консультацию
          +b.slider-btn
            +e.border_prev
              svg(xmlns='http://www.w3.org/2000/svg' width='23' height='19' fill='none')
                path(stroke='#0E302A' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21.4551 9.16334H1.54599m0 0 7.3924-7.96363m-7.3924 7.96363 7.3924 7.96366')
            +e.border_next
              svg(xmlns='http://www.w3.org/2000/svg' width='23' height='19' fill='none')
                path(stroke='#0E302A' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1.54492 9.16334H21.454m0 0-7.3924-7.96363m7.3924 7.96363L14.0616 17.127')

+b.popup(data-popup="#place")
  +e.overlay.js-close-modal
  +e.container_mod
    +e.BUTTON.close.js-close-modal
      svg(xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='none')
        path(fill='#838C95' fill-rule='evenodd' d='M25.1244 1.08154c.1953-.19526.1953-.51185 0-.7071-.1952-.19527-.5118-.19527-.7071 0L12.7501 12.0416 1.0828.3743C.88754.17904.57096.17904.3757.3743c-.19527.19527-.19526.51185 0 .70711L12.043 12.7487.37629 24.4155c-.19526.1952-.19526.5118 0 .7071.19526.1952.51184.1952.70711 0l11.6667-11.6668L24.4173 25.123c.1953.1953.5119.1953.7071 0 .1953-.1952.1953-.5118 0-.7071L13.4572 12.7487 25.1244 1.08154Z' clip-rule='evenodd')
    +e.content
      +b.place-info
        +e.P.title Парк «Симфония»
        +e.wrapper
          .swiper
            .swiper-wrapper
              .swiper-slide
                +e.IMG.pic(src='/img/place-big-1.png' alt='')
                +e.P.caption Вы можете забронировать понравившуюся квартиру, не выходя из дома. В период действия акции наши менеджеры проводят дистанционную демонстрацию проекта и готовы помочь вам с выбором в онлайн формате либо в офисе продаж проекта. 
              .swiper-slide
                +e.IMG.pic(src='/img/place-big-1.png' alt='')
                +e.P.caption Вы можете забронировать понравившуюся квартиру, не выходя из дома. В период действия акции наши менеджеры проводят дистанционную демонстрацию проекта и готовы помочь вам с выбором в онлайн формате либо в офисе продаж проекта. 
              .swiper-slide
                +e.IMG.pic(src='/img/place-big-1.png' alt='')
                +e.P.caption Вы можете забронировать понравившуюся квартиру, не выходя из дома. В период действия акции наши менеджеры проводят дистанционную демонстрацию проекта и готовы помочь вам с выбором в онлайн формате либо в офисе продаж проекта. 
              .swiper-slide
                +e.IMG.pic(src='/img/place-big-1.png' alt='')
                +e.P.caption Вы можете забронировать понравившуюся квартиру, не выходя из дома. В период действия акции наши менеджеры проводят дистанционную демонстрацию проекта и готовы помочь вам с выбором в онлайн формате либо в офисе продаж проекта. 
          +b.slider-btn
            +e.border_prev
              svg(xmlns='http://www.w3.org/2000/svg' width='23' height='19' fill='none')
                path(stroke='#0E302A' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M21.4551 9.16334H1.54599m0 0 7.3924-7.96363m-7.3924 7.96363 7.3924 7.96366')
            +e.border_next
              svg(xmlns='http://www.w3.org/2000/svg' width='23' height='19' fill='none')
                path(stroke='#0E302A' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1.54492 9.16334H21.454m0 0-7.3924-7.96363m7.3924 7.96363L14.0616 17.127')

+b.popup(data-popup="#callback-one")
  +e.overlay_strongly.js-close-modal
  +e.callback
    +e.BUTTON.close.js-close-modal
      svg(xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='none')
        path(fill='#838C95' fill-rule='evenodd' d='M25.1244 1.08154c.1953-.19526.1953-.51185 0-.7071-.1952-.19527-.5118-.19527-.7071 0L12.7501 12.0416 1.0828.3743C.88754.17904.57096.17904.3757.3743c-.19527.19527-.19526.51185 0 .70711L12.043 12.7487.37629 24.4155c-.19526.1952-.19526.5118 0 .7071.19526.1952.51184.1952.70711 0l11.6667-11.6668L24.4173 25.123c.1953.1953.5119.1953.7071 0 .1953-.1952.1953-.5118 0-.7071L13.4572 12.7487 25.1244 1.08154Z' clip-rule='evenodd')
    +e.box
      +e.P.title Не знаете что выбрать?
      +e.P.sign Оставьте свой номер и мы вам перезвоним и поможем определиться с наиболее выгодным для вас решением
      +e.FORM.action
        +e.group
          +e.P.name Номер телефона
          +e.INPUT.field(placeholder="+7")
        +e.BUTTON.submit.btn_secondary Отправить заявку
        +e.req Отправляя свои данные вы соглашаетесь с 
          a(href="#")   политикой обработки персональных данных

+b.popup(data-popup="#callback-two")
  +e.overlay_strongly.js-close-modal
  +e.callback
    +e.BUTTON.close.js-close-modal
      svg(xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='none')
        path(fill='#838C95' fill-rule='evenodd' d='M25.1244 1.08154c.1953-.19526.1953-.51185 0-.7071-.1952-.19527-.5118-.19527-.7071 0L12.7501 12.0416 1.0828.3743C.88754.17904.57096.17904.3757.3743c-.19527.19527-.19526.51185 0 .70711L12.043 12.7487.37629 24.4155c-.19526.1952-.19526.5118 0 .7071.19526.1952.51184.1952.70711 0l11.6667-11.6668L24.4173 25.123c.1953.1953.5119.1953.7071 0 .1953-.1952.1953-.5118 0-.7071L13.4572 12.7487 25.1244 1.08154Z' clip-rule='evenodd')
    +e.box
      +e.P.title Есть предложение?
      +e.P.sign Оставьте свой номер и мы вам перезвоним и поможем определиться с наиболее выгодным для вас решением
      +e.FORM.action
        +e.group
          +e.P.name Номер телефона
          +e.INPUT.field(placeholder="+7")
        +e.BUTTON.submit_mod.btn_secondary Отправить заявку
        +e.group_area
          +e.P.name Ваше предложение 
            span (опционально)
          +e.TEXTAREA.field(placeholder="Введите текст...")
        +e.req_mod Отправляя свои данные вы соглашаетесь с 
          a(href="#")   политикой обработки персональных данных

+b.popup(data-popup="#success")
  +e.overlay_strongly.js-close-modal
  +e.callback
    +e.BUTTON.close.js-close-modal
      svg(xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='none')
        path(fill='#838C95' fill-rule='evenodd' d='M25.1244 1.08154c.1953-.19526.1953-.51185 0-.7071-.1952-.19527-.5118-.19527-.7071 0L12.7501 12.0416 1.0828.3743C.88754.17904.57096.17904.3757.3743c-.19527.19527-.19526.51185 0 .70711L12.043 12.7487.37629 24.4155c-.19526.1952-.19526.5118 0 .7071.19526.1952.51184.1952.70711 0l11.6667-11.6668L24.4173 25.123c.1953.1953.5119.1953.7071 0 .1953-.1952.1953-.5118 0-.7071L13.4572 12.7487 25.1244 1.08154Z' clip-rule='evenodd')
    +e.success
      +e.SVG.icon(xmlns='http://www.w3.org/2000/svg', width='140', height='140', fill='none' viewBox="0 0 140 140")
        circle(cx='70', cy='70', r='69.5', stroke='#fff')
        path(stroke='#fff', stroke-linecap='round', d='m54 71 10.5 10.5L88 58')
      +e.P.title Ваша заявка отправлена!
      +e.P.sign Скоро мы с вами свяжемся и ответим на все вопросы
      +e.BUTTON.hide.btn_secondary.js-modal-close Хорошо!


+b.cookie
  +e.box
    +e.P.txt Мы используем куки для гармоничного опыта нашего сайта. Продолжая путешествие по ЖК Симфония Нижний, вы соглашаетесь с нашей 
      a(href="#")  политикой куки
    +e.BUTTON.btn.btn ок