+b.popup(data-modal="#news")
  +e.overlay.js-close-modal
  +e.container
    +e.BUTTON.close.js-close-modal
      svg(xmlns='http://www.w3.org/2000/svg' width='26' height='26' fill='none')
        path(fill='#838C95' fill-rule='evenodd' d='M25.1244 1.08154c.1953-.19526.1953-.51185 0-.7071-.1952-.19527-.5118-.19527-.7071 0L12.7501 12.0416 1.0828.3743C.88754.17904.57096.17904.3757.3743c-.19527.19527-.19526.51185 0 .70711L12.043 12.7487.37629 24.4155c-.19526.1952-.19526.5118 0 .7071.19526.1952.51184.1952.70711 0l11.6667-11.6668L24.4173 25.123c.1953.1953.5119.1953.7071 0 .1953-.1952.1953-.5118 0-.7071L13.4572 12.7487 25.1244 1.08154Z' clip-rule='evenodd')
    +e.content
      +b.news-single
        +e.SPAN.date 12.05.2023
        +e.P.title Мы открыли запись в лист ожидания на покупку квартир в новом проекте
        +e.text
          p овый жилой комплекс комфорт-класса, который мы построим в развивающемся Нижегородском районе на юго-востоке Москвы. В 10 минутах пешком станция метро и МЦК «Нижегородская», а на авто можно добраться до Садового кольца за 10 минут. В радиусе 5,5 км расположены 6 парков: Народный парк Карачарово, Кусковский и Терлецкий лесопарки, Перовский, Измайловский и Кузьминский парки.
          p На территории площадью 2,64 га расположатся восемь корпусов переменной этажности с подземным паркингом, кладовыми и коммерческими помещениями на первых этажах под магазины, кафе и другие сервисы.
          img(src="/img/news-single-1.png" alt="")
          p овый жилой комплекс комфорт-класса, который мы построим в развивающемся Нижегородском районе на юго-востоке Москвы. В 10 минутах пешком станция метро и МЦК «Нижегородская», а на авто можно добраться до Садового кольца за 10 минут. В радиусе 5,5 км расположены 6 парков: Народный парк Карачарово, Кусковский и Терлецкий лесопарки, Перовский, Измайловский и Кузьминский парки.
          p На территории площадью 2,64 га расположатся восемь корпусов переменной этажности с подземным паркингом, кладовыми и коммерческими помещениями на первых этажах под магазины, кафе и другие сервисы.