+b.vantage
  +e.inner
    +e.list
      each item, index in ['Современный дизайн','Удобство и комфорт','Безопасность','Развитая инфраструктура',]
        +e.item
          +e.IMG.icon(src='/icon/vnt-' + (index + 1) + '.svg' alt='')
          +e.P.title=item