+b.banner
  +e.inner
    +e.slider
      +e.slide
        +e.IMG.pic(src='/img/banner-1.png' alt='')
        +e.content
          +e.SPAN.sign Вторая очередь
          +e.P.title.display-1 ЖК Симфония Нижнего— музыка вашей жизни
          +e.P.txt Жилой комплекс бизнес-класса с исключительной архитектурой, на пересечении ул. Максима Горького, Ильинской и ул. Новая.
          +e.A.btn.btn Выбрать квартиру
      +e.slide
        +e.IMG.pic(src='/img/banner-1.png' alt='')
        +e.content
          +e.SPAN.sign Вторая очередь
          +e.P.title.display-1 ЖК Симфония Нижнего— музыка вашей жизни
          +e.P.txt Жилой комплекс бизнес-класса с исключительной архитектурой, на пересечении ул. Максима Горького, Ильинской и ул. Новая.
          +e.A.btn.btn Выбрать квартиру
    .slider-arrows