.popup
  position: fixed
  top: 117px
  width: 100%
  height: calc( 100% - 117px )
  left: 0
  z-index: 23
  display: none
  +screen('max', 1700)
    top: 101px
    height: calc( 100% - 101px )
  +screen('max', 1023)
    top: 96px
    height: calc( 100% - 96px )
  +screen('max', 700)
    height: calc( 100% - 78px )
    top: 78px
  &__overlay
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: -1
    background: #000
    opacity: 0.5
    &_strongly
      opacity: .9
  &__container
    height: 100%
    right: 0
    top: 0
    width: 95%
    position: absolute
    border: 1px solid rgba(0, 0, 0, 0.06)
    border-radius: 6px 0 0 6px
    background: var(--primary-invers)
    box-sizing: border-box
    overflow: auto
    padding: 7rem 5rem 7rem 7rem
    max-width: 1524px
    +screen('max', 1500)
      padding: 5rem 4rem 5rem 5rem
      max-width: 1110px
    +screen('max', 1200)
      padding: 3rem 2.5rem 3rem 3rem
    +screen('max', 1023)
      padding: 4.5rem 2rem
      width: 100%
      height: calc(100% - 5rem)
      top: auto
      bottom: 0
      border-radius: 6px 6px 0 0
    +screen('max', 700)
      padding: 2.5rem 1.5rem
    &_mod
      +screen('max', 1200)
        padding: 4.5rem 2rem
        width: 100%
        height: auto
        top: auto
        bottom: 0
        border-radius: 6px 6px 0 0
      +screen('max', 700)
        padding: 2.5rem 1.5rem
    &::-webkit-scrollbar
      width: 4px
      border-radius: 20px
    &::-webkit-scrollbar-track
      background: #bdc0ca
      width: 1px
    &::-webkit-scrollbar-thumb
      background-color: var(--secondary)
      width: 2px
  &__close
    position: absolute
    top: 3rem
    right: 3rem
    z-index: 4
    +screen('max', 1500)
      top: 2rem
      right: 2rem
    +screen('max', 700)
      transform: scale(.8)
  &__callback
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background: var(--primary)
    border-radius: 8px
    width: calc(100% - 5rem)
    max-width: 920px
    padding: 6.5rem 9rem
    color: var(--primary-invers)
    box-sizing: border-box
    +screen('max', 1500)
      padding: 5rem
      max-width: 720px
    +screen('max', 700)
      width: calc(100% - 3rem)
      padding: 2.8rem 2rem
  &__title
    +fs(56px)
    line-height: 1.1
    letter-spacing: -0.01em
    margin-bottom: 2rem
    +screen('max', 1500)
      +fs(38px)
    +screen('max', 1200)
      +fs(36px)
    +screen('max', 700)
      +fs(24px)
  &__sign
    opacity: 0.7
    +fs(22px)
    line-height: 120%
    +screen('max', 1500)
      +fs(18px)
    +screen('max', 1200)
      text-wrap: balance
    +screen('max', 700)
      +fs(16px)
  &__action
    display: flex
    flex-wrap: wrap
    gap: 3rem
    justify-content: flex-start
    align-items: flex-end
    width: 100%
    margin-top: 4rem
    +screen('max', 1500)
      gap: 1.8rem
    +screen('max', 700)
      gap: 1.5rem
  &__group
    width: calc(50% - 1.5rem)
    +screen('max', 700)
      width: 100%
    &_area
      flex-grow: 1
  &__submit
    width: calc(50% - 1.5rem)
    padding: 2.85rem 2rem
    +fs(18px)
    +screen('max', 1500)
      +fs(16px)
      padding: 2.55rem 2.5rem
    +screen('max', 1023)
      padding: 2.25rem 2.5rem
    +screen('max', 700)
      +fs(12px)
      width: 100%
    &_mod
      +screen('max', 700)
        order: 1
  &__name
    +fs(18px)
    line-height: 1.2
    margin-bottom: 1.2rem
    color: var(--primary-invers)
    +screen('max', 1500)
      +fs(14px)
    span
      opacity: 0.5
  &__field
    border: 1.33px solid var(--primary-invers)
    border-radius: 8px
    padding: 2.1rem 2rem
    box-sizing: border-box
    +fs(20px)
    color: var(--primary)
    width: 100%
    line-height: 1
    transition: .5s ease
    &:hover
      box-shadow: 0 21px 22px 0 rgba(0, 0, 0, 0.25)
    &.error
      outline: 1px solid #d94f4f
    +screen('max', 1500)
      +fs(16px)
    +screen('max', 1023)
      padding: 1.8rem 2rem
    &::placeholder
      opacity: 0.6
  &__req
    flex-grow: 1
    +fs(16px)
    color: rgba(255, 255, 255, 0.5)
    +screen('max', 1500)
      +fs(12px)
    a
      font-weight: 500
      color: var(--primary-invers)
    &_mod
      +screen('max', 700)
        order: 2
  &__success
    display: flex
    align-items: center
    flex-flow: column
    text-align: center
    +screen('max', 700)
      padding-top: 2.5rem
  &__icon
    margin-bottom: 5rem
    +screen('max', 1500)
      width: 85px
      height: 85px
      margin-bottom: 2.5rem
    +screen('max', 700)
      width: 70px
      justify-self: 70px
  &__hide
    margin-top: 5rem
    width: 185px
    +screen('max', 1500)
      margin-top: 4rem
    +screen('max', 700)
      width: 100%
      margin-top: 3rem

.cookie
  position: fixed
  bottom: 1.5rem
  left: 1.5rem
  box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.2)
  background: #fff
  border-radius: 8px
  padding: 1.5rem 4rem
  width: 50%
  max-width: 1036px
  z-index: 999
  box-sizing: border-box
  +screen('max', 1500)
    padding: 1rem
  +screen('max', 1200)
    width: 60%
  +screen('max', 1023)
    width: 75%
  +screen('max', 700)
    width: calc(100% - 3rem)
  &__box
    display: flex
    justify-content: space-between
    align-items: center
    gap: 2rem
  &__txt
    +fs(18px)
    line-height: 1.2
    max-width: 680px
    +screen('max', 1500)
      +fs(14px)
    +screen('max', 1200)
      +fs(12px)
    +screen('max', 1023)
      +fs(14px)
    +screen('max', 700)
      +fs(12px)
    a
      text-decoration: underline
      text-decoration-skip-ink: none
  &__btn
    padding: 1.7rem 2.5rem
    +screen('max', 1500)
      +fs(12px)
    +screen('max', 1200)
      padding: 1.5rem 2rem