mixin header()
  +b.HEADER.header
    +e.inner.inner
      +e.A.home(href="/")
        +e.IMG.icon(src='/icon/logo.svg' alt='')
      +e.NAV.nav
        +e.open-nav
          svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none')
            path(stroke='#0E302A' stroke-linecap='round' stroke-width='1.6' d='M1.3125 17.5625h19.0313M1.3125 11h19.0313M1.3125 4.4375h19.0313')
          span Меню
        +e.UL.list
          +e.LI.item
            +e.A.link(href="#") О проекте
          +e.LI.item
            +e.A.link(href="#") Решения для жизни
            +e.UL.dropdown
              li
                a(href="#") Особенности
              li
                a(href="#") Благоустройство
          +e.LI.item
            +e.A.link(href="#") Акции
            +e.UL.dropdown
              li
                a(href="#") Особенности
              li
                a(href="#") Благоустройство
      +e.info
        +e.A.btn.btn_primary._icon(href="#")
          span Выбрать недвижимость
          svg(xmlns='http://www.w3.org/2000/svg' width='18' height='10' fill='none')
            path(stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m3.5 3.1665 6 5.33334 6-5.33334')
        +e.control
          +e.A.ctr(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='none' viewBox="0 0 60 60")
              path(fill='#0E302A' d='M30.954 40.2531c-.34.1204-.9.1204-1.24 0-2.9-.9931-9.38-5.136-9.38-12.1578 0-3.0997 2.49-5.6075 5.56-5.6075 1.82 0 3.43.8827 4.44 2.247 1.01-1.3643 2.63-2.247 4.44-2.247 3.07 0 5.56 2.5078 5.56 5.6075 0 7.0218-6.48 11.1647-9.38 12.1578Z')
              circle(cx='30' cy='30' r='29.5' stroke='#0E302A')
          +e.A.ctr(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='none' viewBox="0 0 60 60")
              circle(cx='30' cy='30' r='29.5' stroke='#0E302A')
              path(fill='#0E302A' d='M21.4375 39.375s-1.8125 0-1.8125-1.8125 1.8125-7.25 10.875-7.25 10.875 5.4375 10.875 7.25-1.8125 1.8125-1.8125 1.8125h-18.125ZM30.5 28.5a5.4376 5.4376 0 0 0 3.8449-1.5926 5.4376 5.4376 0 0 0 1.5926-3.8449 5.4376 5.4376 0 0 0-1.5926-3.8449A5.4376 5.4376 0 0 0 30.5 17.625a5.4376 5.4376 0 0 0-3.8449 1.5926 5.4376 5.4376 0 0 0-1.5926 3.8449 5.4376 5.4376 0 0 0 1.5926 3.8449A5.4376 5.4376 0 0 0 30.5 28.5Z')
        +e.call
          +e.call-box
            +e.A.phone(href="tel:+7 (831) 220-90-20") +7 (831) 220-90-20
            +e.time Ежедневно 9:00 - 21:00
          +e.A.open-modal(href="#")
            svg(xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='none' viewBox="0 0 60 60")
              circle(cx='30' cy='30' r='30' fill='#EEE')
              rect(width='40' height='40' x='10.5' y='9.5' fill='#fff' rx='20')
              rect(width='40' height='40' x='10.5' y='9.5' stroke='#0E302A' rx='20')
              path(fill='#0E302A' d='M39.3096 35.2753c0 .3-.0666.6084-.2083.9084-.1417.3-.325.5833-.5667.85-.4083.45-.8583.775-1.3666.9833-.5.2083-1.0417.3167-1.625.3167-.85 0-1.7584-.2-2.7167-.6084-.9583-.4083-1.9167-.9583-2.8667-1.65-.9583-.7-1.8666-1.475-2.7333-2.3333-.8583-.8667-1.6333-1.775-2.325-2.725-.6833-.95-1.2333-1.9-1.6333-2.8417-.4-.95-.6-1.8583-.6-2.725 0-.5666.1-1.1083.3-1.6083.2-.5083.5166-.975.9583-1.3917.5333-.525 1.1167-.7833 1.7333-.7833.2334 0 .4667.05.675.15.2167.1.4084.25.5584.4667l1.9333 2.725c.15.2083.2583.4.3333.5833.075.175.1167.35.1167.5083 0 .2-.0583.4-.175.5917-.1083.1917-.2667.3917-.4667.5917l-.6333.6583c-.0917.0917-.1333.2-.1333.3333 0 .0667.0083.125.025.1917.025.0667.05.1167.0666.1667.15.275.4084.6333.775 1.0666.375.4334.775.875 1.2084 1.3167.45.4417.8833.85 1.325 1.225.4333.3667.7916.6167 1.075.7667.0416.0166.0916.0416.15.0666.0666.025.1333.0334.2083.0334.1417 0 .25-.05.3417-.1417l.6333-.625c.2083-.2083.4083-.3667.6-.4667.1917-.1166.3833-.175.5917-.175.1583 0 .325.0334.5083.1084.1833.075.375.1833.5833.325l2.7584 1.9583c.2166.15.3666.325.4583.5333.0833.2084.1333.4167.1333.65Z')
              path(stroke='#0E302A' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M34.502 26.5005h4m-4 0v-4 4Z')
