mixin header()
  +b.HEADER.header
    +e.inner.inner
      +e.A.home(href="/")
        +e.IMG.icon(src='/icon/logo.svg' alt='')
      +e.NAV.nav
        +e.open-nav
          svg(xmlns='http://www.w3.org/2000/svg' width='22' height='22' fill='none')
            path(stroke='#0E302A' stroke-linecap='round' stroke-width='1.6' d='M1.3125 17.5625h19.0313M1.3125 11h19.0313M1.3125 4.4375h19.0313')
          span Меню
        +e.UL.list
          +e.LI.item
            +e.A.link(href="#") О проекте
          +e.LI.item
            +e.A.link(href="#") Решения для жизни
            +e.UL.dropdown
              li
                a(href="#") Особенности
              li
                a(href="#") Благоустройство
          +e.LI.item
            +e.A.link(href="#") Акции
            +e.UL.dropdown
              li
                a(href="#") Особенности
              li
                a(href="#") Благоустройство
      +e.info
        +e.A.btn.btn_icon(href="#")
          span Выбрать недвижимость
          svg(xmlns='http://www.w3.org/2000/svg' width='18' height='10' fill='none')
            path(stroke='#fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m3.5 3.1665 6 5.33334 6-5.33334')
        +e.control
          +e.A.ctr(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='none' viewBox="0 0 60 60")
              path(fill='#0E302A' d='M30.954 40.2531c-.34.1204-.9.1204-1.24 0-2.9-.9931-9.38-5.136-9.38-12.1578 0-3.0997 2.49-5.6075 5.56-5.6075 1.82 0 3.43.8827 4.44 2.247 1.01-1.3643 2.63-2.247 4.44-2.247 3.07 0 5.56 2.5078 5.56 5.6075 0 7.0218-6.48 11.1647-9.38 12.1578Z')
              circle(cx='30' cy='30' r='29.5' stroke='#0E302A')
          +e.A.ctr(href='#')
            svg(xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='none' viewBox="0 0 60 60")
              circle(cx='30' cy='30' r='29.5' stroke='#0E302A')
              path(fill='#0E302A' d='M21.4375 39.375s-1.8125 0-1.8125-1.8125 1.8125-7.25 10.875-7.25 10.875 5.4375 10.875 7.25-1.8125 1.8125-1.8125 1.8125h-18.125ZM30.5 28.5a5.4376 5.4376 0 0 0 3.8449-1.5926 5.4376 5.4376 0 0 0 1.5926-3.8449 5.4376 5.4376 0 0 0-1.5926-3.8449A5.4376 5.4376 0 0 0 30.5 17.625a5.4376 5.4376 0 0 0-3.8449 1.5926 5.4376 5.4376 0 0 0-1.5926 3.8449 5.4376 5.4376 0 0 0 1.5926 3.8449A5.4376 5.4376 0 0 0 30.5 28.5Z')
        +e.call
          +e.call-box
            +e.A.phone(href="tel:+7 (831) 220-90-20") +7 (831) 220-90-20
            +e.time Ежедневно 9:00 - 21:00
          +e.A.open-modal(href="#")
            svg(xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='none' viewBox="0 0 60 60")
              circle(cx='30' cy='30' r='30' fill='#EEE')
              rect(width='40' height='40' x='10.5' y='9.5' fill='#fff' rx='20')
              rect(width='40' height='40' x='10.5' y='9.5' stroke='#0E302A' rx='20')
              path(fill='#0E302A' d='M39.3096 35.2753c0 .3-.0666.6084-.2083.9084-.1417.3-.325.5833-.5667.85-.4083.45-.8583.775-1.3666.9833-.5.2083-1.0417.3167-1.625.3167-.85 0-1.7584-.2-2.7167-.6084-.9583-.4083-1.9167-.9583-2.8667-1.65-.9583-.7-1.8666-1.475-2.7333-2.3333-.8583-.8667-1.6333-1.775-2.325-2.725-.6833-.95-1.2333-1.9-1.6333-2.8417-.4-.95-.6-1.8583-.6-2.725 0-.5666.1-1.1083.3-1.6083.2-.5083.5166-.975.9583-1.3917.5333-.525 1.1167-.7833 1.7333-.7833.2334 0 .4667.05.675.15.2167.1.4084.25.5584.4667l1.9333 2.725c.15.2083.2583.4.3333.5833.075.175.1167.35.1167.5083 0 .2-.0583.4-.175.5917-.1083.1917-.2667.3917-.4667.5917l-.6333.6583c-.0917.0917-.1333.2-.1333.3333 0 .0667.0083.125.025.1917.025.0667.05.1167.0666.1667.15.275.4084.6333.775 1.0666.375.4334.775.875 1.2084 1.3167.45.4417.8833.85 1.325 1.225.4333.3667.7916.6167 1.075.7667.0416.0166.0916.0416.15.0666.0666.025.1333.0334.2083.0334.1417 0 .25-.05.3417-.1417l.6333-.625c.2083-.2083.4083-.3667.6-.4667.1917-.1166.3833-.175.5917-.175.1583 0 .325.0334.5083.1084.1833.075.375.1833.5833.325l2.7584 1.9583c.2166.15.3666.325.4583.5333.0833.2084.1333.4167.1333.65Z')
              path(stroke='#0E302A' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M34.502 26.5005h4m-4 0v-4 4Z')

  +b.nav
    +e.inner
      +e.top
        +e.wrap
          +e.col
            +e.list
              +e.item
                +e.A.cat(href="#") О проекте
              +e.item
                +e.A.cat(href="#") Архитектура
              +e.item
                +e.A.cat(href="#") Акции 
              +e.item
                +e.A.cat(href="#") Новости 
            +e.list
              +e.item
                +e.A.cat(href="#") Сервис
              +e.items
                +e.item
                  +e.A.link(href="#") Ход строительства
                +e.item
                  +e.A.link(href="#") О команде проекта
                +e.item
                  +e.A.link(href="#") Документация
                +e.item
                  +e.A.link(href="#") Контакты
          +e.col
            +e.list
              +e.item
                +e.A.cat(href="#") Решения для жизни
              +e.items
                +e.item
                  +e.A.link(href="#") Благоустройство
                +e.item
                  +e.A.link(href="#") Расположение
                +e.item
                  +e.A.link(href="#") Планировки
                +e.item
                  +e.A.link(href="#") Холлы и подъезды
            +e.list
              +e.item
                +e.A.cat(href="#") Преимущества
              +e.items
                +e.item
                  +e.A.link(href="#") Эргономичные планировки с высокими потолками
                +e.item
                  +e.A.link(href="#") Квартиры с мастер-спальнями
                +e.item
                  +e.A.link(href="#") Квартиры с террасами
                +e.item
                  +e.A.link(href="#") 2-х уровневые квартиры
                +e.item
                  +e.A.link(href="#") Квартиры с гардеробной зоной с окном
                +e.item
                  +e.A.link(href="#") Просторные лоджии на 2 комнаты
          +e.col
            +e.list
              +e.item
                +e.A.cat(href="#") Выбрать недвижимость
              +e.items
                +e.item
                  +e.A.link(href="#") По параметрам
                +e.item
                  +e.A.link(href="#") Шахматка
                +e.item
                  +e.A.link(href="#") На генплане
                +e.item
                  +e.A.link(href="#") Парковки
            +e.list
              +e.item
                +e.A.cat(href="#") Способы оплаты
              +e.items
                +e.item
                  +e.A.link(href="#") Оплата наличными
                +e.item
                  +e.A.link(href="#") Ипотека
                +e.item
                  +e.A.link(href="#") Рассрочка
                +e.item
                  +e.A.link(href="#") TRADE-IN
                +e.item
                  +e.A.link(href="#") Госпрограммы
                +e.item
                  +e.A.link(href="#") Материнский капитал
                +e.item
                  +e.A.link(href="#") Оплата траншами
                +e.item
                  +e.A.link(href="#") Онлайн-бронирование
        +e.banner
          +e.banner-info
            +e.time До 31 августа
            +e.P.caption Скидка до 7% на квартиры
            +e.txt Выгода до 2,2 млн рублей на ограниченный пул квартир
          +e.IMG.pic(src='/img/nav-banner.png' alt='')
      +e.bottom
        +e.contls
          +e.A.contl(href="#")
            svg(xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='none' viewBox="0 0 60 60")
              circle(cx='30' cy='30' r='29.5' stroke='#0E302A')
              path(fill='#0E302A' d='M21.4375 39.375s-1.8125 0-1.8125-1.8125 1.8125-7.25 10.875-7.25 10.875 5.4375 10.875 7.25-1.8125 1.8125-1.8125 1.8125h-18.125ZM30.5 28.5a5.4376 5.4376 0 0 0 3.8449-1.5926 5.4376 5.4376 0 0 0 1.5926-3.8449 5.4376 5.4376 0 0 0-1.5926-3.8449A5.4376 5.4376 0 0 0 30.5 17.625a5.4376 5.4376 0 0 0-3.8449 1.5926 5.4376 5.4376 0 0 0-1.5926 3.8449 5.4376 5.4376 0 0 0 1.5926 3.8449A5.4376 5.4376 0 0 0 30.5 28.5Z')
            span Войти в личный кабинет
          +e.A.contl_mb(href="#")
            svg(xmlns='http://www.w3.org/2000/svg' width='60' height='60' fill='none' viewBox="0 0 60 60")
              path(fill='#0E302A' d='M30.954 40.2531c-.34.1204-.9.1204-1.24 0-2.9-.9931-9.38-5.136-9.38-12.1578 0-3.0997 2.49-5.6075 5.56-5.6075 1.82 0 3.43.8827 4.44 2.247 1.01-1.3643 2.63-2.247 4.44-2.247 3.07 0 5.56 2.5078 5.56 5.6075 0 7.0218-6.48 11.1647-9.38 12.1578Z')
              circle(cx='30' cy='30' r='29.5' stroke='#0E302A')
            span Избранное
          +e.A.contl_mb(href="mailto:stn@stn52.ru")
            svg(xmlns='http://www.w3.org/2000/svg' width='45' height='45' fill='none')
              path(fill='#0E302A' d='M23.8734 24.3509c-.4087.2724-.8835.4165-1.373.4165-.4894 0-.9642-.1441-1.3729-.4165l-6.732-4.4882a2.51424 2.51424 0 0 1-.1094-.0775v7.3542c0 .8432.6843 1.5124 1.5124 1.5124h13.4038c.8432 0 1.5124-.6843 1.5124-1.5124v-7.3542a2.46495 2.46495 0 0 1-.1096.0777l-6.7317 4.488Z')
              path(fill='#0E302A' d='m14.9295 19.062 6.7319 4.4881c.2549.1699.5469.2548.839.2548.2921 0 .5842-.0849.839-.2548l6.732-4.4881c.4028-.2684.6433-.7177.6433-1.2025 0-.8337-.6782-1.5118-1.5118-1.5118H15.798c-.8336 0-1.5119.6782-1.5119 1.5126-.0002.2378.0584.472.1707.6817.1122.2097.2746.3883.4727.52Z')
              circle(cx='22.5' cy='22.5' r='22' stroke='#0E302A')
            span stn@stn52.ru
        +e.control
          +e.A.btn.btn_transparent._icon(href="#")
            svg(xmlns='http://www.w3.org/2000/svg' width='34' height='33' fill='none' viewBox="0 0 34 33")
              circle(cx='16.667' cy='16.5' r='16.5' fill='#0E302A')
              path(fill='#fff' d='M21.8301 16.2282c.5942.343.5942 1.2006 0 1.5436l-6.3262 3.6525c-.5942.343-1.3369-.0858-1.3369-.7718v-7.305c0-.6861.7427-1.1149 1.3369-.7718l6.3262 3.6525Z')
            span Видео о проекте
          +e.A.btn.btn_transparent._icon(href="#")
            svg(xmlns='http://www.w3.org/2000/svg' width='23' height='21' fill='none' viewBox="0 0 23 21")
              path(stroke='#0E302A' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M1.66699 19.833H21.667M11.667 1.1665v13.3333m0 0L5.66699 8.49984M11.667 14.4998l6-5.99996')
            span Скачать буклет
        +e.info
          +e.A.mail(href="mailto:stn@stn52.ru") stn@stn52.ru
          +e.social
            +e.A.soc(href="#")
              svg(xmlns='http://www.w3.org/2000/svg' width='72' height='72' fill='none' viewBox="0 0 72 72")
                circle(cx='36' cy='36' r='36' fill='#CE8369')
                path(fill='#fff' d='M49.0026 46.3652h-3.0413c-1.1507 0-1.4973-.9326-3.56-2.9979-1.8026-1.7384-2.564-1.9546-3.02-1.9546-.6306 0-.8026.1735-.8026 1.042v2.7377c0 .7405-.24 1.1741-2.1734 1.1741a11.86134 11.86134 0 0 1-5.3067-1.6635 11.87186 11.87186 0 0 1-3.9666-3.9c-2.3621-2.9418-4.0057-6.3946-4.8-10.0837 0-.4562.1734-.8698 1.0427-.8698h3.04c.7813 0 1.0627.3482 1.3693 1.1527 1.476 4.3467 3.9947 8.1278 5.0173 8.1278.392 0 .5627-.1735.5627-1.1514v-4.4775c-.1293-2.0426-1.2133-2.2147-1.2133-2.9539a.75091.75091 0 0 1 .2485-.5072.74989.74989 0 0 1 .5315-.1905h4.7786c.6534 0 .8694.3255.8694 1.1073v6.0438c0 .6524.28.8686.4773.8686.392 0 .6933-.2162 1.412-.934a25.0299 25.0299 0 0 0 3.736-6.2172c.0959-.2693.2772-.4998.5162-.6564.2391-.1566.5228-.2306.8078-.2108h3.0413c.912 0 1.1053.4563.912 1.1074a37.98743 37.98743 0 0 1-4.0827 7.0204c-.328.5003-.4586.7604 0 1.3475.3014.4563 1.368 1.3475 2.084 2.1947 1.0427 1.0406 1.908 2.2441 2.5627 3.5622.2613.8486-.1747 1.2822-1.0427 1.2822Z')
            +e.A.soc(href="#")
              svg(xmlns='http://www.w3.org/2000/svg' width='72' height='72' fill='none' viewBox="0 0 72 72")
                circle(cx='36' cy='36' r='36' fill='#CE8369')
                path(fill='#fff' d='m33.3346 40.9993 6.92-4-6.92-4v8Zm15.4134-10.44c.1733.6267.2933 1.4667.3733 2.5334.0933 1.0666.1333 1.9866.1333 2.7866l.08 1.12c0 2.92-.2133 5.0667-.5866 6.44-.3334 1.2-1.1067 1.9734-2.3067 2.3067-.6267.1733-1.7733.2933-3.5333.3733-1.7334.0934-3.32.1334-4.7867.1334l-2.12.08c-5.5867 0-9.0667-.2134-10.44-.5867-1.2-.3333-1.9733-1.1067-2.3067-2.3067-.1733-.6266-.2933-1.4666-.3733-2.5333-.0933-1.0667-.1333-1.9867-.1333-2.7867l-.08-1.12c0-2.92.2133-5.0666.5866-6.44.3334-1.2 1.1067-1.9733 2.3067-2.3066.6267-.1734 1.7733-.2934 3.5333-.3734 1.7334-.0933 3.32-.1333 4.7867-.1333l2.12-.08c5.5867 0 9.0667.2133 10.44.5867 1.2.3333 1.9733 1.1066 2.3067 2.3066Z')
            +e.A.soc(href="#")
              svg(xmlns='http://www.w3.org/2000/svg' width='72' height='72' fill='none' viewBox="0 0 72 72")
                circle(cx='36' cy='36' r='36' fill='#CE8369')
                path(fill='#fff' d='m46.2201 27.2888-23.64 9.116c-1.6133.648-1.604 1.548-.296 1.9493l6.0694 1.8933 14.0426-8.86c.664-.404 1.2707-.1866.772.256l-11.3773 10.268h-.0027l.0027.0014-.4187 6.256c.6134 0 .884-.2814 1.228-.6134l2.948-2.8666 6.132 4.5293c1.1307.6227 1.9427.3027 2.224-1.0467l4.0254-18.9706c.412-1.652-.6307-2.4-1.7094-1.912Z')