+b.FOOTER.footer
  +e.inner.inner
    +e.row
      +e.left
        +e.A.home(href="/")
          +e.IMG.icon(src='/icon/logo-3.svg' alt='')
        +e.IMG.pic(src='/icon/logo-2.svg' alt='')
      +e.middle
        +e.list
          +e.item
            +e.A.cat(href="#") О проекте
          +e.item
            +e.A.cat(href="#") Архитектура
          +e.item
            +e.A.cat(href="#") Акции 
          +e.item
            +e.A.cat(href="#") Новости 
        +e.list
          +e.item
            +e.A.cat(href="#") Решения для жизни
          +e.items
            +e.item
              +e.A.link(href="#") Благоустройство
            +e.item
              +e.A.link(href="#") Расположение
            +e.item
              +e.A.link(href="#") Планировки
            +e.item
              +e.A.link(href="#") Холлы и подъезды
        +e.list
          +e.item
            +e.A.cat(href="#") Преимущества
          +e.items
            +e.item
              +e.A.link(href="#") Эргономичные планировки с высокими потолками
            +e.item
              +e.A.link(href="#") Квартиры с мастер-спальнями
            +e.item
              +e.A.link(href="#") Квартиры с террасами
            +e.item
              +e.A.link(href="#") 2-х уровневые квартиры
            +e.item
              +e.A.link(href="#") Квартиры с гардеробной зоной с окном
            +e.item
              +e.A.link(href="#") Просторные лоджии на 2 комнаты
        +e.list
          +e.item
            +e.A.cat(href="#") Способы оплаты
          +e.items
            +e.item
              +e.A.link(href="#") Оплата наличными
            +e.item
              +e.A.link(href="#") Ипотека
            +e.item
              +e.A.link(href="#") Рассрочка
            +e.item
              +e.A.link(href="#") TRADE-IN
            +e.item
              +e.A.link(href="#") Госпрограммы
            +e.item
              +e.A.link(href="#") Материнский капитал
            +e.item
              +e.A.link(href="#") Оплата траншами
            +e.item
              +e.A.link(href="#") Онлайн-бронирование
        +e.list
          +e.item
            +e.A.cat(href="#") Сервис
          +e.items
            +e.item
              +e.A.link(href="#") Ход строительства
            +e.item
              +e.A.link(href="#") О команде проекта
            +e.item
              +e.A.link(href="#") Документация
            +e.item
              +e.A.link(href="#") Контакты
        +e.list
          +e.item
            +e.A.cat(href="#") Выбрать недвижимость
          +e.items
            +e.item
              +e.A.link(href="#") По параметрам
            +e.item
              +e.A.link(href="#") Шахматка
            +e.item
              +e.A.link(href="#") На генплане
            +e.item
              +e.A.link(href="#") Парковки
      +e.right
        +e.A.phone(href='tel:+7 (831) 220-90-20') +7 (831) 220-90-20
        +e.A.call.btn_transparent(href="#") Перезвоните мне
        +e.A.mail(href="mailto:stn@stn52.ru") stn@stn52.ru
        +e.social
          +e.A.soc(href="#")
            svg(xmlns='http://www.w3.org/2000/svg' width='72' height='72' fill='none' viewBox="0 0 72 72")
              circle(cx='36' cy='36' r='36' fill='#CE8369')
              path(fill='#fff' d='M49.0026 46.3652h-3.0413c-1.1507 0-1.4973-.9326-3.56-2.9979-1.8026-1.7384-2.564-1.9546-3.02-1.9546-.6306 0-.8026.1735-.8026 1.042v2.7377c0 .7405-.24 1.1741-2.1734 1.1741a11.86134 11.86134 0 0 1-5.3067-1.6635 11.87186 11.87186 0 0 1-3.9666-3.9c-2.3621-2.9418-4.0057-6.3946-4.8-10.0837 0-.4562.1734-.8698 1.0427-.8698h3.04c.7813 0 1.0627.3482 1.3693 1.1527 1.476 4.3467 3.9947 8.1278 5.0173 8.1278.392 0 .5627-.1735.5627-1.1514v-4.4775c-.1293-2.0426-1.2133-2.2147-1.2133-2.9539a.75091.75091 0 0 1 .2485-.5072.74989.74989 0 0 1 .5315-.1905h4.7786c.6534 0 .8694.3255.8694 1.1073v6.0438c0 .6524.28.8686.4773.8686.392 0 .6933-.2162 1.412-.934a25.0299 25.0299 0 0 0 3.736-6.2172c.0959-.2693.2772-.4998.5162-.6564.2391-.1566.5228-.2306.8078-.2108h3.0413c.912 0 1.1053.4563.912 1.1074a37.98743 37.98743 0 0 1-4.0827 7.0204c-.328.5003-.4586.7604 0 1.3475.3014.4563 1.368 1.3475 2.084 2.1947 1.0427 1.0406 1.908 2.2441 2.5627 3.5622.2613.8486-.1747 1.2822-1.0427 1.2822Z')
          +e.A.soc(href="#")
            svg(xmlns='http://www.w3.org/2000/svg' width='72' height='72' fill='none' viewBox="0 0 72 72")
              circle(cx='36' cy='36' r='36' fill='#CE8369')
              path(fill='#fff' d='m33.3346 40.9993 6.92-4-6.92-4v8Zm15.4134-10.44c.1733.6267.2933 1.4667.3733 2.5334.0933 1.0666.1333 1.9866.1333 2.7866l.08 1.12c0 2.92-.2133 5.0667-.5866 6.44-.3334 1.2-1.1067 1.9734-2.3067 2.3067-.6267.1733-1.7733.2933-3.5333.3733-1.7334.0934-3.32.1334-4.7867.1334l-2.12.08c-5.5867 0-9.0667-.2134-10.44-.5867-1.2-.3333-1.9733-1.1067-2.3067-2.3067-.1733-.6266-.2933-1.4666-.3733-2.5333-.0933-1.0667-.1333-1.9867-.1333-2.7867l-.08-1.12c0-2.92.2133-5.0666.5866-6.44.3334-1.2 1.1067-1.9733 2.3067-2.3066.6267-.1734 1.7733-.2934 3.5333-.3734 1.7334-.0933 3.32-.1333 4.7867-.1333l2.12-.08c5.5867 0 9.0667.2133 10.44.5867 1.2.3333 1.9733 1.1066 2.3067 2.3066Z')
          +e.A.soc(href="#")
            svg(xmlns='http://www.w3.org/2000/svg' width='72' height='72' fill='none' viewBox="0 0 72 72")
              circle(cx='36' cy='36' r='36' fill='#CE8369')
              path(fill='#fff' d='m46.2201 27.2888-23.64 9.116c-1.6133.648-1.604 1.548-.296 1.9493l6.0694 1.8933 14.0426-8.86c.664-.404 1.2707-.1866.772.256l-11.3773 10.268h-.0027l.0027.0014-.4187 6.256c.6134 0 .884-.2814 1.228-.6134l2.948-2.8666 6.132 4.5293c1.1307.6227 1.9427.3027 2.224-1.0467l4.0254-18.9706c.412-1.652-.6307-2.4-1.7094-1.912Z')
        +e.A.build(href="#") Design by 
          b NEXMAN
    +e.copyright
      +e.P.copy © «Столица Нижний», 2023
      +e.A.polit(href="#") Политика конфиденциальности