+b.docs
  +e.inner
    +e.left
      +e.P.title Документация по проекту
      +e.A.btn.btn_transparent(href="#" download) Скачать одним архивом
    +e.right
      +e.box
        +e.P.caption Разрешение на строительство
        +e.UL.list
          +e.LI.item
            p Разрешение на строительство.Продление до 31.07.2020
            span Ответственный: Кибенко А.А.
        +e.P.caption Права на земельный участок
        +e.UL.list
          +e.LI.item
            p Свидетельство о регистрации права
            span Ответственный: Кибенко А.А.
          +e.LI.item
            p Схема планировочной организации земельного участка
            span Ответственный: Кибенко А.А.
          +e.LI.item
            p Градостроительный план земельного участка 
            span Ответственный: Кибенко А.А.
          +e.LI.item
            p Градостроительный план земельного участка 
            span Ответственный: Кибенко А.А.
          +e.LI.item
            p Свидетельство о регистрации права
            span Ответственный: Кибенко А.А.
          +e.LI.item
            p Свидетельство о регистрации права
            span Ответственный: Кибенко А.А.
      +e.box
        +e.P.caption Разное
        +e.UL.list
          +e.LI.item
            p Заключение о степени готовности проекта ООО «РегионИнвест52»
            span Ответственный: Кибенко А.А.
          +e.LI.item
            p Свидетельство о допуске к определенному виду или видам работ, которые оказывают влияние на безопасность объектов капитального строительства № 0433.00-2015-5260315837-С-033 от 8.06.2015 г. Лист 1.
            span Ответственный: Кибенко А.А.
          +e.LI.item
            p Свидетельство о допуске к определенному виду или видам работ, которые оказывают влияние на безопасность объектов капитального строительства № 0433.00-2015-5260315837-С-033 от 8.06.2015 г. Лист 2.
            span Ответственный: Кибенко А.А.
          +e.LI.item
            p Градостроительный план земельного участка 
            span Ответственный: Кибенко А.А.
          +e.LI.item
            p Свидетельство о регистрации права
            span Ответственный: Кибенко А.А.
          +e.LI.item
            p Свидетельство о регистрации права
            span Ответственный: Кибенко А.А.