+b.news-list.section
  +e.inner.inner
    +e.H1.title  новости
    +e.list
      +e.A.link.js-open-modal(href="#news")
        +e.IMG.pic(src='/img/news-1.png' alt='')
        +e.SPAN.date 12.05.2023
        +e.P.caption Дом поставлен на кадастровый учет
      +e.A.link.js-open-modal(href="#news")
        +e.IMG.pic(src='/img/news-2.png' alt='')
        +e.SPAN.date 12.05.2023
        +e.P.caption Девелопер «Столица Нижний» возглавил ТОП застройщиков Нижегородской Области по объёмам ввода жилья.
      +e.A.link.js-open-modal(href="#news")
        +e.IMG.pic(src='/img/news-3.png' alt='')
        +e.SPAN.date 12.05.2023
        +e.P.caption Заселение во вторую очередь
      +e.A.link.js-open-modal(href="#news")
        +e.IMG.pic(src='/img/news-4.png' alt='')
        +e.SPAN.date 12.05.2023
        +e.P.caption Новые отделки
      +e.A.link_big._first.js-open-modal(href="#news")
        +e.IMG.pic(src='/img/news-big-1.png' alt='')
        +e.content
          +e.SPAN.date 12.05.2023
          +e.P.caption Девелопер «Столица Нижний» возглавил ТОП застройщиков Нижегородской Области по объёмам ввода жилья
          +e.P.text Время стремительно бежит вперед, а музыка остается навсегда. Мы сами создаем свое будущее подобно тому, как композитор пишет симфонию. И здесь, важна каждая нота, которая обладает своим неповторимым звучанием. Так и в доме, который вы выбираете для жизни важна каждая деталь.
      - for(var i = 0; i< 2; i++){
        +e.A.link.js-open-modal(href="#news")
          +e.IMG.pic(src='/img/news-1.png' alt='')
          +e.SPAN.date 12.05.2023
          +e.P.caption Дом поставлен на кадастровый учет
        +e.A.link.js-open-modal(href="#news")
          +e.IMG.pic(src='/img/news-2.png' alt='')
          +e.SPAN.date 12.05.2023
          +e.P.caption Девелопер «Столица Нижний» возглавил ТОП застройщиков Нижегородской Области по объёмам ввода жилья.
        +e.A.link.js-open-modal(href="#news")
          +e.IMG.pic(src='/img/news-3.png' alt='')
          +e.SPAN.date 12.05.2023
          +e.P.caption Заселение во вторую очередь
        +e.A.link.js-open-modal(href="#news")
          +e.IMG.pic(src='/img/news-4.png' alt='')
          +e.SPAN.date 12.05.2023
          +e.P.caption Новые отделки
      - }
      +e.A.link_big._right.js-open-modal(href="#news")
        +e.IMG.pic(src='/img/news-big-2.png' alt='')
        +e.content
          +e.SPAN.date 12.05.2023
          +e.P.caption Девелопер «Столица Нижний» возглавил ТОП застройщиков Нижегородской Области по объёмам ввода жилья
          +e.P.text Время стремительно бежит вперед, а музыка остается навсегда. Мы сами создаем свое будущее подобно тому, как композитор пишет симфонию. И здесь, важна каждая нота, которая обладает своим неповторимым звучанием. Так и в доме, который вы выбираете для жизни важна каждая деталь.
      include ../callback/callbackFive
      - for(var i = 0; i< 2; i++){
        +e.A.link.js-open-modal(href="#news")
          +e.IMG.pic(src='/img/news-1.png' alt='')
          +e.SPAN.date 12.05.2023
          +e.P.caption Дом поставлен на кадастровый учет
        +e.A.link.js-open-modal(href="#news")
          +e.IMG.pic(src='/img/news-2.png' alt='')
          +e.SPAN.date 12.05.2023
          +e.P.caption Девелопер «Столица Нижний» возглавил ТОП застройщиков Нижегородской Области по объёмам ввода жилья.
        +e.A.link.js-open-modal(href="#news")
          +e.IMG.pic(src='/img/news-3.png' alt='')
          +e.SPAN.date 12.05.2023
          +e.P.caption Заселение во вторую очередь
        +e.A.link.js-open-modal(href="#news")
          +e.IMG.pic(src='/img/news-4.png' alt='')
          +e.SPAN.date 12.05.2023
          +e.P.caption Новые отделки
      - }
      +e.A.link_hidden.js-open-modal(href="#news")
        +e.IMG.pic(src='/img/news-4.png' alt='')
        +e.SPAN.date 12.05.2023
        +e.P.caption Новые отделки
      +e.A.link_big._left.js-open-modal(href="#news")
        +e.IMG.pic(src='/img/news-big-1.png' alt='')
        +e.content
          +e.SPAN.date 12.05.2023
          +e.P.caption Девелопер «Столица Нижний» возглавил ТОП застройщиков Нижегородской Области по объёмам ввода жилья
          +e.P.text Время стремительно бежит вперед, а музыка остается навсегда. Мы сами создаем свое будущее подобно тому, как композитор пишет симфонию. И здесь, важна каждая нота, которая обладает своим неповторимым звучанием. Так и в доме, который вы выбираете для жизни важна каждая деталь.
    +b.pagination
      +e.A.btn_prev.js-open-modal(href="#news")
        svg(xmlns='http://www.w3.org/2000/svg' width='8' height='14' fill='none')
          path(stroke='#BDC0CA' stroke-linecap='round' stroke-width='1.60168' d='M6.66406 13.1655 1.32513 7.15922l5.33893-6.0063')
      +e.A.btn.active.js-open-modal(href="#news") 1
      +e.A.btn.js-open-modal(href="#news") 2
      +e.A.btn.js-open-modal(href="#news") 3
      +e.A.btn.js-open-modal(href="#news") 4
      +e.A.btn.js-open-modal(href="#news") 5
      +e.A.btn_next.js-open-modal(href="#news")
        svg(xmlns='http://www.w3.org/2000/svg' width='8' height='14' fill='none')
          path(stroke='#BDC0CA' stroke-linecap='round' stroke-width='1.60168' d='m1.33594 13.1655 5.33893-6.00628-5.33893-6.0063')
    include ../callback/callbackFour