.places
  margin: 10rem 0
  +screen('max', 1500)
    margin: 6rem 0
  +screen('max', 700)
    margin: 5rem 0
  &__head
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 3.5rem
    +screen('max', 700)
      margin-bottom: 2rem
  &__title
    font-weight: 500
    text-transform: uppercase
    +fs(30px)
    +screen('max', 1500)
      +fs(22px)
    +screen('max', 700)
      +fs(16px)
  &__pic
    width: 100%
    vertical-align: middle
  &__caption
    margin-top: 2.5rem
    +fs(42px)
    line-height: 1.2
    margin-bottom: 2rem
    font-weight: 500
    +screen('max', 1500)
      +fs(32px)
      margin-bottom: 1.6rem
      margin-top: 2rem
    +screen('max', 700)
      +fs(20px)
  &__info
    display: flex
    gap: 1rem
  &__box
    border-radius: 133px
    padding: 1rem 1.5rem
    background: #f8f9f9
    display: inline-flex
    align-items: center
    gap: 1rem
    +fs(18px)
    color: #838c95
    +screen('max', 1500)
      +fs(14px)
  &__wrapper
    +screen('max', 1023)
      width: calc(100% + 2rem)
    +screen('max', 700)
      width: calc(100% + 1.5rem)
  .slider-btn
    +screen('max', 700)
      display: none

.place-info
  &__title
    +fs(56px)
    margin-bottom: 4.5rem
    +screen('max', 1500)
      +fs(42px)
      margin-bottom: 2.5rem
    +screen('max', 1200)
      +fs(24px)
    +screen('max', 1023)
      +fs(30px)
    +screen('max', 700)
      +fs(24px)
  &__wrapper
    position: relative
    +screen('max', 1023)
      padding-bottom: max(7rem, 12vh)
    .slider-btn
      position: absolute
      right: 0
      top: 0
      z-index: 2
      +screen('max', 1200)
        top: auto
        bottom: 0
      +screen('max', 1023)
        left: 0
        right: auto
      &__border
        +screen('max', 700)
          width: 55px
          height: 55px
  &__pic
    max-width: 900px
    width: 65%
    vertical-align: middle
    margin-bottom: 4.5rem
    +screen('max', 1200)
      margin-bottom: 3rem
    +screen('max', 700)
      width: 100%
      margin-bottom: 2.5rem
  &__caption
    +fs(24px)
    line-height: 130%
    color: #4d545a
    +screen('max', 1500)
      +fs(18px)
    +screen('max', 1200)
      max-width: 80%
    +screen('max', 700)
      +fs(15px)
      max-width: 100%
  .swiper-wrapper
    gap: 0