.places
  margin: 10rem 0
  +screen('max', 1500)
    margin: 6rem 0
  +screen('max', 700)
    margin: 5rem 0
  &__head
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 3.5rem
    +screen('max', 700)
      margin-bottom: 2rem
  &__title
    font-weight: 500
    text-transform: uppercase
    +fs(30px)
    +screen('max', 1500)
      +fs(22px)
    +screen('max', 700)
      +fs(16px)
  &__pic
    width: 100%
    vertical-align: middle
  &__caption
    margin-top: 2.5rem
    +fs(42px)
    line-height: 1.2
    margin-bottom: 2rem
    font-weight: 500
    +screen('max', 1500)
      +fs(32px)
      margin-bottom: 1.6rem
      margin-top: 2rem
    +screen('max', 700)
      +fs(20px)
  &__info
    display: flex
    gap: 1rem
  &__box
    border-radius: 133px
    padding: 1rem 1.5rem
    background: #f8f9f9
    display: inline-flex
    align-items: center
    gap: 1rem
    +fs(18px)
    color: #838c95
    +screen('max', 1500)
      +fs(14px)
  &__wrapper
    +screen('max', 1023)
      width: calc(100% + 2rem)
    +screen('max', 700)
      width: calc(100% + 1.5rem)
  .slider-btn
    +screen('max', 700)
      display: none