+b.contacts
  +e.inner
    +e.map
      script(type='text/javascript' charset='utf-8' async src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9acc12e9f3387eb4cc597174d31fd2a93e334f3e3ff72b9ac890f9dd2159418e&width=100%&lang=ru_RU&scroll=false')
    +e.box
      +e.P.sign Офис продаж
      +e.P.title ЖК «Симфония Нижнего»
      +e.P.addr Нижний Новгород, ул. Максима Горького, д.117
      +e.A.road(href="#") Как доехать?
      +e.P.time пн-пт: 09.00 — 19.00 /  сб-вс: выходной
      +e.IMG.pic(src='/img/contacts-1.png' alt='')
      +e.A.phone(href='tel:+7 (831) 220-90-20') +7 (831) 220-90-20
      +e.A.mail(href='mailto:stn@stn52.ru') stn@stn52.ru
      +e.A.btn.btn_transparent Записаться на консультацию